<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">
		{% block title %}{% endblock %}
	</span>

    {% block menu %}{% endblock %}

    <script>
		document.addEventListener('DOMContentLoaded', function () {
			// A quick hack (not really) for the mdl layout to have a drawer
	    	// be integrated to the nav bar without complicating the templates
	        var mdlLayout = document.querySelector('div.mdl-layout');
	        mdlLayout.classList.add('mdl-layout--fixed-drawer');
		});
    </script>
</div>
