{% load i18n %}
<div id="metadataform">


</div>
{% themeinclude "includes/ingestprofilechooser.html" %}

<script type="text/javascript" charset="utf-8">
var _users_default_mdg = '{% if metadatagroup %}{{ metadatagroup }}{% else %}{{ user.get_profile.default_metadata_group }}{% endif %}';
$(document).ready(function() {
    if (_users_default_mdg.length == 0) {
        $('#metadataform').html('<div class="noticemessage"><p>{% trans "No default metadata schema set for user. Please select one in the Advanced section or set a default group in your settings." %}</p></div><br>');
    } else {
        $('#metadataform').html('<span class="loading-notice">{% trans "Loading..." %}</span>');
        loadMetadataForm(_users_default_mdg);
    }
});

function loadMetadataForm(formToLoad) {
    var regExp = /\s+/g,
        theURL = '',
        loadingNotice = $('<span class="loading-notice">{% trans "Loading..." %}</span>');
        formToLoad = formToLoad.replace(regExp, "%20");

    if (formToLoad) {
        {% if metadatatoplevelonly %}
	        theURL = '/vs/search_metadata_form/'+ formToLoad +'/?search&toplevelonly&{{ request.GET.urlencode }}';
        {% else %}
	        theURL = '/vs/search_metadata_form/'+ formToLoad +'/?search&{{ request.GET.urlencode }}';
	    {% endif %}
        $.ajax({url:theURL,
            beforeSend: function() {
                $('#searchmetadataformchooser').after(loadingNotice);
            },
            error: function() {
                $.growl("{% trans "There was a problem with loading metadataform" %}",'error');
            },
            success: function(data) {
                if (cntmo.app.page.forms !== undefined) {
                    cntmo.app.page.forms.body = undefined;
                }

                $("#metadataform").html(data);
                /*
                var metadataForm = document.querySelector('#metadataform');
                var mdFormList = metadataForm.querySelector("ul");
                mdFormList.className += " mdl-list";
                mdFormList.children[0].className += " mdl-list__item";
                */
                $("form.required").parent("li").find("label").append("*");
                $("fieldset.collapsible").collapse();
                $("fieldset.collapsibleClosed").collapse( { closed : true } );
                $("#metadataformedit").validate();
                mdf_subgrp_parse();
            }
        });
    } else {
        $("#metadataform").html("");
    }
}

</script>

{% docstring searchmetadataformchooser.html %}
    searchmetadataformchooser.html is loaded dynamically when a user needs to choose a metadata form with searching.
    If there is only one form that will be displayed automatically.
    If the user has a default form, that is used.
{% enddocstring %}
