{% themeextends "media/media_inc_item_base.html" %}

{% load switch %}

{% block icon %}
    {% switch item.getItemType %}
        {% case "fcpx_project" %}
            <img src="{{ STATIC_URL }}img/icon-applefcpxlibrary16x16.svg" class="media_type media_type_icon">
        {% case "ppro_project" %}
            <img src="{{ STATIC_URL }}img/icon-adobepremierepro16x16.svg" class="media_type media_type_icon">
        {% else %}
            <i class="material-icons">apps</i>
    {% endswitch %}
{% endblock icon %}
