{% themeextends "media/base_media_view.html" %}
{% load i18n formatting general vidispinetags datetimeformatting videopreview compress settings %}
{% load url_for %}

{% block extra_script %}
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/player/player.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app/portal/panelMgr.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/dist/vendors.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/dist/mediaView.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}mdl/assets/js/app/media/models.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}mdl/assets/js/app/media/collections.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}mdl/assets/js/app/media/views.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app/sharing/views.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        var media_item_id = '{{ item.getId }}';
        var original_media_online = {{ item.isOriginalShapeOnline|lower }};
    </script>
{% endblock extra_script %}

{% block drawer %}
    {% themeinclude "media/media_view_sidebar.html" %}
{% endblock drawer %}

{% block heading %}
<div id="media-header">
    <span id="media-header__title" class="mdl-layout-title {% if aclcurrentuser.hasURIWritePermission and user|has_role:"_metadata_write" %}title_editable{%endif%}" rel="{% url item_update_metadata_field item.getId 'title' %}" ref="{{ item.getId }}">{% if item.getTitle %}{{ item.getTitle }}{% else %}{{ item.getId }}{% endif %}</span>
    <div class="mdl-tooltip mdl-tooltip--large" for="media-header__title">Click to edit</div>

    <div class="mdl-layout-spacer"></div>

    <button id="media-context-menu" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">settings</i>
    </button>
    <ul class="mediacontextualmenu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="media-context-menu">
        {% if originalshape %}
            {% permissionrequired _export %}
                {% if item.isOriginalShapeOnline %}
                    <a id="exportitem" class="mdl-menu__item"
                       href="#"
                       {% if not exportareas %}class="disabled"{% endif %}
                       data-disabled="{% if exportareas %}false{% else %}true{% endif %}">
                        {% trans "Export" %}
                    </a>
                {% endif %}
            {% endpermissionrequired %}

            {% if not item.isPlaceholder or item.isSequence %}
                {% permissionrequired _file_write  %}
                    {% if aclcurrentuser.hasURIWritePermission %}
                        <a class="mdl-menu__item" id="returntoplaceholder" href="#">{% trans "Return to Placeholder" %}</a>
                    {% endif %}
                {% endpermissionrequired %}

                {% if can_archive %}
                    {% ifequal item|getMetadataFieldValueByName:"portal_archive_status"  "Archived" %}
                        <a class="mdl-menu__item" href="" id="restore_item" ref="{{ item.getId }}">{% trans "Restore" %}</a>
                    {% else %}
                        <a class="mdl-menu__item" href="" id="archive_item" ref="{{ item.getId }}">{% trans "Archive" %}</a>
                    {% endifequal %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if version == None %}
            {% if aclcurrentuser.hasURIWritePermission %}
                {% permissionrequired _item_shape_write  %}
                    <a class="mdl-menu__item" id="deleteitem" href="{% url vs_item_delete item.getId %}{% if item.getTitle %}?titles={{ item.getTitle }}{% endif %}">{% trans "Delete" %}</a>
                {% endpermissionrequired %}
            {% endif %}

            <a class="mdl-menu__item" href="" class="add_to_bin" ref="{{ item.getId }}" name="{{ item.getTitle }}">{% trans "Add to Bin" %}</a>

            <a class="mdl-menu__item" href="" class="add_to_collection" ref="{{ item.getId }}">{% trans "Add to Collection" %}</a>

            {% permissionrequired _import %}
                {% if version_support %}
                    {% if version == None %}
                        <a class="mdl-menu__item" href="" class="upload_item_version" ref="{{ item.getId }}">{% trans "Upload new version" %}</a>
                    {% endif %}
                    {% if version != None and item.getOriginalTag %}
                        <a class="mdl-menu__item" href="" class="make_latest_version" ref="{{ item.getId }}">{% trans "Make latest version" %}</a>
                    {% endif %}

                    {% if not item.isPlaceholder %}
                        <a class="mdl-menu__item" href="" class="clone_item" ref="{{ item.getId }}">{% trans "Clone to new item" %}</a>
                    {% endif %}
                {% endif %}
            {% endpermissionrequired %}
        {% endif %}

        {% if request.user.userprofile.can_share %}
            <a class="mdl-menu__item" href="" class="share_item" ref="{{ item.getId }}">{% trans "Share item" %}</a>
        {% endif %}

        {% pluginblock "MediaViewDropdown" collection core %}
    </ul>

</div>
<script>
/* moves the #media-header to the main nav bar as a second row */
var mediaHeader = document.querySelector('#media-header');
var mdlHeader = document.querySelector('.mdl-layout__header');

mediaHeader.className += "mdl-layout__header-row";

mdlHeader.appendChild(mediaHeader);
</script>
{% endblock heading %}

{% block content %}
<div class="itemcontentholder">
    <div class="itemcontent" id="mvcontent">
        {% if item.isToBeDeleted %}
            <div class="noticemessage">
                <p><strong>
                    {% if item.isToBeDeleted|timeuntilremoval == 0 %}
                        {% trans "This item is scheduled to be deleted in less than one hour" %}
                    {% else %}
                        {% trans "This item is scheduled for deletion in" %} {{ item.isToBeDeleted|timeuntilremoval }} {% trans "Hour" %}{{ item.isToBeDeleted|timeuntilremoval|pluralize }}
                    {% endif %}
                </strong></p>
            </div>
        {% endif %}

        <div class="row">
            {% pluginblock "MediaViewPanelRow1" %}

            <div id="panel_thumbnails" class="panel mdl-card mdl-shadow--2dp mdl-grid" style="display:none;">
                {% trans "There are currently no thumbnails to show." %}
            </div><!--#mv_thumbnails -->

            <div id="panel_posters" class="panel mdl-card mdl-shadow--2dp mdl-grid" style="display:none;">
                <div class="mdl-card__supporting-text">
                    <p>{% trans "There are currently no posters to show." %}</p>
                </div>
            </div>

            <div id="panel_preview" class="panel mdl-grid no-padding" style="display:flex">
                <div id="media-card" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--7-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__supporting-text">
                        {% if previews %}
                            {% previewplayer item %}
                        {% else %}

                            <div id="placeholderspacer" class="placeholderspacer smallPlayer {% if item.isSequence %}sequence{% endif %} {{ item.getItemType }}">
                                {% if item.getItemType == "ppro_project" %}

                                {% endif %}

                                {% if item.getItemType == "fcpx_project" %}

                                {% endif %}

                                {% if item.isPlaceholder or item.isEmpty %}
                                    {% if skipIngestButton == False %}
                                        {% if aclcurrentuser.hasURIWritePermission and user|has_role:"_import" and user|has_role:"_storage_read" %}
                                            <a href="{% url vs_storage_ingest_to_placeholder item.getId %}{% if item.isEmpty %}?version=True{% endif %}" style="color:transparent;"><button type="button" class="button" onclick="window.location=this.parentNode.href;">{% trans "Ingest to Placeholder" %}</button></a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="secondary mdl-cell mdl-cell--5-col-desktop mdl-cell--8-col-tablet mdl-cell--4-phone">
                    {% pluginblock "MediaViewItemTechMetadataTop" %}

                    {% themeinclude "media/media_search_prev_next.html" %}

                    <div id="media-info-card" class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__supporting-text">
                            <dl>
                                {% if item|getMetadataFieldValueByName:"portal_archive_status" %}
                                    <div class="archive_status"></div>
                                    <dd>{{ item|getMetadataFieldValueByName:"portal_archive_status" }}</dd>
                                {% endif %}

                                {% if item.isToBeDeleted %}
                                    <div class="hr-panel"></div>
                                    <dt>{% trans 'Deleted' %}</dt>
                                    <dd> {{ item.isToBeDeleted|datetimeobject|date:"DATETIME_FORMAT" }}</dd>
                                {% endif %}

                                {% if systemmetadata.mediaType == "video" or systemmetadata.mediaType == "audio" %}
                                    {% if item.getDurationTimecode or systemmetadata.durationSeconds %}
                                        <div class="hr-panel"></div>
                                        <dt>{% trans 'Duration' %}</dt>
                                        {% if item.getDurationTimecode and systemmetadata.mediaType == "video" %}
                                            <dd>{{ item.getDurationTimecode.toSMPTE }} </dd>
                                        {% else %}
                                            <dd>{{ ""|formatToTime:systemmetadata.durationSeconds }} </dd>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                {% if startTimeCode and startTimeCode.frames > 0 %}
                                    <div class="hr-panel"></div>
                                    <dt>{% trans 'Start Timecode' %}</dt>
                                    <dd>{{ startTimeCode.toSMPTE }}</dd>
                                {% endif %}

                                {% if systemmetadata.user %}
                                    <div class="hr-panel"></div>
                                    <dt>{% trans 'User' %}</dt>
                                    <dd>{{ systemmetadata.user }}</dd>
                                {% endif %}

                                <div class="hr-panel"></div>
                                <dt>{% trans 'Added' %}</dt>
                                <dd>{{ item|getMetadataFieldValueByName:"created"|datetimeobject|date:"DATETIME_FORMAT" }}{% if not item|getMetadataFieldValueByName:"created" %}unknown{% endif %}</dd>

                                <div class="hr-panel"></div>
                                <dt>{% trans "Type" %}</dt>
                                <dd>{{ item|getItemTypeLabel }}</dd>

                                {% if systemmetadata.originalFilename %}
                                    <div class="hr-panel"></div>
                                    <dt>{% trans "Filename" %}</dt>
                                    {% comment %}<dd>{{ systemmetadata.originalFormat|upper }}</dd>{% endcomment %}
                                    <dd>{{ item.getOriginalFilename }}</dd>
                                {% endif %}

                                {% if systemmetadata.originalFormat %}
                                    <div class="hr-panel"></div>
                                    <dt>{% trans "Format" %}</dt>
                                    {% comment %}<dd>{{ systemmetadata.originalFormat|upper }}</dd>{% endcomment %}
                                    <dd>
                                        {{ item.getOriginalFilename|getBestMediaFormat:systemmetadata.originalFormat }}
                                        {% if systemmetadata.mediaType == "video" %}
                                            ({{ systemmetadata.originalVideoCodec }}
                                            {% if systemmetadata.originalAudioCodec %}
                                                : {{ systemmetadata.originalAudioCodec }})
                                            {% else %})
                                            {% endif %}
                                        {% endif %}
                                    </dd>
                                {% endif %}

                                {% if systemmetadata.originalWidth and systemmetadata.originalHeight %}
                                    <div class="hr-panel"></div>
                                    <dt class="inlinedt">{% trans 'Dimension' %}</dt>
                                    <dd>{{ systemmetadata.originalWidth }} x {{ systemmetadata.originalHeight }}
                                        {% if aspect_ratio %}
                                            ({{ aspect_ratio }})
                                        {% endif %}
                                    </dd>
                                {% endif %}
                            </dl>

                            {% pluginblock "ItemTechMetadataPlugin" %}
                        </div>
                    </div>

                    <div id="versions-menu" class="mdl-card mdl-shadow--2dp" style="display:none;">
                        <div class="mdl-card__title mdl-card--border">
                            <h3 class="mdl-card__title-text">Versions</h3>
                        </div>

                        <div class="versions mdl-card__supporting-text">
                            <img src="{{ STATIC_URL }}/img/core/loading-small.gif" class="loading-inline" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .row -->

        <div class="row">
            <div id="panel-content-card" class="">
                {% pluginblock "MediaViewPanelRow2" %}
                {% if aclcurrentuser.hasMetadataReadPermission %}
                    <div id="panel_metadata" class="mdl-card mdl-shadow--2dp panel">
                        <div id="react-metadataform" class="mdl-card__supporting-text"
                             data-id="{{ item.getId }}"
                             data-edit-url="{% url vs_item_get_metadataform item.getId %}"
                             data-new-url="{% url vs_item_associate_metadata item.getId %}"
                             data-metadata-write-permission="{{ aclcurrentuser.hasMetadataWritePermission|lower }}">
                        </div>
                        <script>
                        /*
                        var reactMetadataForm = document.querySelector('#react-metadataform');
                        var foundPanelHeader = false;

                        reactMetadataForm.addEventListener('DOMSubtreeModified', function() {
                            if (foundPanelHeader) {
                                return;
                            }

                            if (panelHeader = reactMetadataForm.querySelector('.panel-header')) {
                                foundPanelHeader = true;

                                var spacer = document.createElement('div');
                                spacer.className = "mdl-layout-spacer";

                                panelHeader.insertBefore(spacer, reactMetadataForm.querySelector('.edit_metadata'));

                                // convert NodeList to ArrayList
                                var buttons = Array.prototype.slice.call(panelHeader.querySelectorAll('a button'));

                                buttons.map(function(button) {
                                    button.className += " mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised";
                                    button.className += (button.parentElement.className == 'edit_metadata buttonlink') ?  " mdl-button--colored" : " mdl-button--accent";
                                });
                            }
                        });
                        */
                        </script>
                    </div><!-- #panel_metadata .panel -->
                {% endif %}

                {% if item.getShapes %}
                    {% if aclcurrentuser.hasURIReadPermission %}
                        <div id="panel_format" class="mdl-card mdl-shadow--2dp panel" style="display:none;">
                            <div class="mdl-card__title mdl-card--border">
                                <h3 class="mdl-card__title-text">{% trans "Formats" %}</h3>
                            </div>

                            <div id="format-info" class="mdl-card__supporting-text">
                                <table id="cntmo_prtl_mediaitem_shape_table" class="mdl-data-table mdl-js-data-table">
                                    <thead>
                                        <tr>
                                            <th class="mdl-data-table__cell--non-numeric">{% trans "Name" %}</th>
                                            <th class="mdl-data-table__cell--non-numeric">{% trans "Format" %}</th>
                                            <th>{% trans "Filesize" %}</th>
                                            <th class="mdl-data-table__cell--non-numeric">{% trans "Filename" %}</th>
                                            <th class="mdl-data-table__cell--non-numeric">{% trans "Storage" %}</th>
                                            <th class="mdl-data-table__cell--non-numeric"></th>
                                            <th class="mdl-data-table__cell--non-numeric"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td colspan="7" class="imgpreloader" >
                                                <img src="{{ STATIC_URL }}img/icon-ajax-loader.gif">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <script type="text/template" id="cntmo_prtl_mediaitem_format_tmpl">
                                    <td class="mdl-data-table__cell--non-numeric"><%= name %></td>
                                    <td class="mdl-data-table__cell--non-numeric shapeformat" >
                                        <strong><%= format %></strong>

                                        <% if (format) { %>
                                            <div class="cnxtualMenu"><div class="cnxtualMenu_arrow"></div>
                                                <table class="mdl-data-table mdl-js-data-table">
                                                    <% if (mimetype.indexOf('image') != -1) { %>
                                                        <tr>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Image Type:" %}</td>
                                                            <td class="value"><%= videoCodec %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Resolution:" %}</td>
                                                            <td class="value"><%= videoResolution %>px</td>
                                                        </tr>

                                                    <% } else if (mimetype.indexOf('video') != -1 || mimetype.indexOf('application/mxf') != -1) { %>
                                                        <tr>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Video codec:" %}</td>
                                                            <td class="mdl-data-table__cell--non-numeric value"><%= videoCodec %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Bitrate:" %}</td>
                                                            <td class="value"><%= videoBitRate %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Framerate:" %}</td>
                                                            <td class="value"><%= videoFPS %>FPS</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Resolution:" %}</td>
                                                            <td class="value"><%= videoResolution %>px</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Field Order:" %}</td>
                                                            <td class="mdl-data-table__cell--non-numeric value"><%= fieldOrder %></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Audio codec:" %}</td>
                                                            <td class="mdl-data-table__cell--non-numeric value"><%= audioCodec %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Bitrate:" %}</td>
                                                            <td class="value"><%= audioBitRate %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Samplerate:" %}</td>
                                                            <td class="value"><%= audioSamplingRate %>Hz</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Channel count:" %}</td>
                                                            <td class="value"><%= audioChannelCount %></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    <% } else if (mimetype.indexOf('audio') != -1) { %>
                                                        <tr>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Audio codec:" %}</td>
                                                            <td class="value"><%= audioCodec %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Bitrate:" %}</td>
                                                            <td class="value"><%= audioBitRate %></td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Samplerate:" %}</td>
                                                            <td class="value"><%= audioSamplingRate %>Hz</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{% trans "Channel count:" %}</td>
                                                            <td class="value"><%= audioChannelCount %></td>
                                                        </tr>
                                                    <% } %>
                                                </table>
                                            </div><!-- /.cnxtualMenu -->
                                        <% } %>
                                    </td>
                                    <td><%= filesize %></td>
                                    <td class="mdl-data-table__cell--non-numeric"><%= filename %></td>
                                    <td class="mdl-data-table__cell--non-numeric"><%= storagename %></td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        <%  if (download_uri != "" && (name != 'Original' || original_media_online)) {
                                                print('<a href="' + download_uri +'">{% trans "Download" %}</a>')
                                            } else {
                                                print('<span>N/A</span>')
                                            } %>
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {% if aclcurrentuser.hasURIWritePermission %}
                                            {% permissionrequired _item_shape_write %}
                                                <%  if (!original_media_online && name == 'Original') { %>
                                                        <span>Archived</span>
                                                <%  } else if (filename == '') { %>
                                                        <a href="#" class="remove hidden">{% trans "Delete" %}</a>
                                                <%  } else { %>
                                                        <a href="<%= manage_shape_url %>" data-shape-name="<%= name %>" class="manage">{% trans "Manage" %}</a>
                                                <%  } %>
                                            {% endpermissionrequired %}
                                        {% endif %}
                                    </td>
                                </script>

                                <div id="transcodepanel"></div>
                            </div>

                            <div class="mdl-card__actions mdl-card--border">
                                {% if originalshape and aclcurrentuser.hasURIWritePermission and systemmetadata.mediaType != "data" and item.isOriginalShapeOnline %}
                                    {% permissionrequired _job_write %}
                                        <a href="" id="transcodeitem" class="buttonlink">
                                            <button class="mdl-button js-mdl-button mdl-button--raised mdl-button--colored button button-add button-transcode">{% trans "Transcode" %}</button>
                                        </a>
                                    {% endpermissionrequired %}
                                {% endif %}
                            </div>
                        </div><!-- #panel_format -->
                    {% endif %}
                {% endif %}

                <div id="panel_related" class="mdl-card mdl-shadow--2dp panel" style="display:none;">
                    <div class="panel-header mdl-card__title mdl-card--border">
                        <h3 class="mdl-card__title-text">{% trans "Related Items" %}</h2>
                    </div>

                    <div class="related_wrapper mdl-card__supporting-text"></div>
                </div><!--#panel_related -->

                {% permissionrequired _job_read %}
                    <div id="panel_history" class="mdl-card mdl-shadow--2dp panel" style="display:none;">
                        <div class="panel-header mdl-card__title mdl-card--border">
                            <h3 class="mdl-card__title-text">{% trans "History" %}</h3>
                        </div>

                        <div class="table-wrap mdl-card__supporting-text">
                            <table class="jobstable mdl-data-table mdl-js-data-table" id="jobstbl">
                                <thead>
                                    <tr class="heading">
                                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Status' %}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Type' %}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Current Step' %}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{% trans 'Started' %}</th>
                                        <th class="mdl-data-table__cell--non-numeric">{% trans 'User' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>

                            <script type="text/template" id="cntmo_prtl_mediaitem_history_tmpl">
                                <td class="mdl-data-table__cell--non-numeric">
                                    <% if (joblink !== '') { %>
                                    <a href="<%= joblink %>"><%= status_label %></a>
                                    <% } else { %>
                                    <%= status_label %>
                                    <% } %>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric"><%= type %></td>
                                <td class="mdl-data-table__cell--non-numeric"><%= current_step_description %></td>
                                <td class="mdl-data-table__cell--non-numeric"><%= started %></td>
                                <td class="mdl-data-table__cell--non-numeric"><%= user %></td>
                            </script>
                        </div>
                    </div><!--#panel_history -->
                {% endpermissionrequired %}

                <div id="panel_acl" class="mdl-card mdl-shadow--2dp panel" style="display:none;">
                    <div class="panel-header mdl-card__title mdl-card--border">
                        <h3 class="mdl-card__title-text">{% trans "Access Rights" %}</h3>
                    </div><!-- .panel-header -->

                    <div class="mdl-card__supporting-text">
                        <table id="access_rights" class="mdl-data-table mdl-js-data-table">
                            <thead>
                                <th class="mdl-data-table__cell--non-numeric">{% trans "Recipient" %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans "Permission" %}</th>
                                <th class="mdl-data-table__cell--non-numeric"></th>
                            </thead>

                            <tbody>
                                <tr style="display:none">
                                    <td colspan="3" class="imgpreloader" >
                                        <img src="{{ STATIC_URL }}img/icon-ajax-loader.gif">
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>
                            </tfoot>
                        </table>

                        <table id="audit_access_rights" class="mdl-data-table mdl-js-data-table" style="display:none;">
                            <thead>
                                <th class="mdl-data-table__cell--non-numeric">{% trans "Recipient" %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans "Permission" %}</th>
                                <th class="mdl-data-table__cell--non-numeric">{% trans "Why" %}</th>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>

                        <script type="text/template" id="cntmo_prtl_mediaitem_acl_tmpl">
                            <td class="mdl-data-table__cell--non-numeric"><% if (user != "") { print(user) } else { print(group) } %></td>
                            <td class="mdl-data-table__cell--non-numeric" style="text-transform:capitalize;"><%= permission.toLowerCase() %></td>
                            <td class="mdl-data-table__cell--non-numeric" style="text-transform:capitalize;">
                                {% if aclcurrentuser.hasURIWritePermission %}
                                    <% if (permission.toLowerCase() != 'owner'){ %>
                                        <a href="#" class="remove hidden">{% trans "Remove" %}</a>
                                    <% } %>
                                {% endif %}
                            </td>
                        </script>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        {% permissionrequired _administrator %}
                            <a href="#" id="showhideaudit" class="buttonlink" rel="{% url vs_item_accessrights_ajax item.getId %}" before="{% trans "Show audit" %}" after="{% trans "Show access list" %}">
                                <button class="button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">{% trans "Show audit" %}</button>
                            </a>
                        {% endpermissionrequired %}

                        {% if aclcurrentuser.hasURIWritePermission %}
                            <a href="#" id="aclmanage" class="buttonlink" rel="{% url vs_acl_form %}">
                                <button class="button button-add button-acl mdl-button mdl-js-button mdl-button--raised mdl-button--colored">{% trans "Add Access Rights" %}</button>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <div id="panel_comments" class="panel" style="display:none;">
                    <div class="comments_wrapper mdl-card mdl-shadow--2dp"></div>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .itemcontent-->

    <div style="display:none">
        <button onClick='itemPlayer.printDebug("#debuginfo")'>Debug</button>
        <div id="debuginfo"></div>
    </div>
</div><!-- .itemcontentholder -->
{% endblock content %}

{% block inlinejs %}
    {% settings "COMMENTS_ENABLED" as COMMENTS_ENABLED %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            cntmo.app.page.mainView = new cntmo.prtl.Item.MediaViewPage({
                el: $('#main'),
                initializePanels: true,
                model: new cntmo.vs.VSItem({
                    id: '{{ item.getId }}',
                    fps: '{{ item.getFramesPerSecond }}',
                    start_tc: new Timecode({smpte: '{{ startTimeCode.toSMPTE }}'}),
                    resource_type: '{{systemmetadata.mediaType }}',
                    item_relations: {% if relationships %}[]{% else %}undefined{% endif %},
                    resource_name: "{{ item.getTitle|escapejs }}"{% if thumbnails %},
                        thumbnail_uri: "{% firstof thumbnails.6 thumbnails.4 thumbnails|first %}"{% endif %}
                }),
                definedurls: {
                    'exporturl': '{% url vs_items_export %}?selected_objects={{ item.getId }}&force_transcode=',
                    'removemetadataurl': '{% url vs_item_remove_metadataform item.getId %}',
                    {% if version != None %}
                        'this': '{% url vs_item_version item.getId version %}',
                        'makelatestversionurl': '{% url vs_item_make_latest_version item.getId version %}',
                        'cloneitemurl': '{% url vs_item_version_clone item.getId version %}',
                    {% else %}
                        'this': '{% url vs_item item.getId  %}',
                        'cloneitemurl': '{% url vs_item_clone item.getId %}',
                    {% endif %}
                    'returntoplaceholderurl': '{% url vs_item_shape item.getId %}?placeholder=True',
                    'createitemrelationship': '{% url vs_create_relationship %}',
                    'searchajax': '{% url vs_search_ajax  %}',
                    'grabstill': '{% url vs_create_posters item.getId %}',
                    'uploaditem' : '{% url vs_item_upload item.getId %}',
                    'shareitem': '{% url sharing:shareout item.getId %}'
                    {% if aclcurrentuser.hasURIWritePermission and originalshape %}
                        ,'transcodeurl':'{% url vs_item_transcode_ajax item.getId originalshape.getId %}?mediaType={{systemmetadata.mediaType}}'
                    {% endif %}
                },

                panels: {
                    'MediaItemPreviewPanel': new cntmo.prtl.Item.MediaItemPreviewPanel({
                        el:$('#panel_preview')
                    }),
                    {% if systemmetadata.mediaType == "video" and item.getOriginalTag.getEssenceVersion != None %}
                        'MediaItemPosterPanel':  new cntmo.prtl.Item.MediaItemPosterPanel({
                            el:$('#panel_posters'),
                            {% if item.getOriginalTag.getEssenceVersion %}
                                url: "{% url vs_item_get_poster_version item.getId item.getOriginalTag.getEssenceVersion %}"
                            {% else %}
                                url: "{% url vs_item_get_poster item.getId %}"
                            {% endif %}
                        }),
                    {% endif %}
                    'MediaItemThumbnailPanel': new cntmo.prtl.Item.MediaItemThumbnailPanel({
                        el:$('#panel_thumbnails.mdl-grid'),
                        {% if item.getOriginalTag.getEssenceVersion %}
                            url: "{% url vs_item_get_thumbs_version item.getId item.getOriginalTag.getEssenceVersion %}"
                        {% else %}
                            url: "{% url vs_item_get_thumbs item.getId %}"
                        {% endif %}
                    }),
                    'MediaItemMetadataPanel': new cntmo.prtl.Item.MediaItemMetadataPanel({
                        el:$('#panel_metadata')
                    }),
                    'MediaItemFormatsPanel': new cntmo.prtl.Item.MediaItemFormatsPanel({
                        el:$('#panel_format'),
                        {% if version != None %}
                            url: "{% url vs_item_shape_version item.getId version %}"
                        {% else %}
                            url: "{% url vs_item_shape item.getId %}"
                        {% endif %}
                    }),
                    'MediaItemRelatedPanel': new cntmo.prtl.Item.MediaItemRelatedPanel({
                        el:$('#panel_related'),
                        url: "{% url vs_item_view_related item.getId %}"
                    }),
                    'MediaItemHistoryPanel': new cntmo.prtl.Item.MediaItemHistoryPanel({
                        el:$('#panel_history'),
                        url: "{% url item_jobs item.getId %}"
                    }),
                    'MediaItemACLPanel': new cntmo.prtl.Item.MediaItemACLPanel({
                        el:$('#panel_acl'),
                        url:"{% url vs_item_acl_ajax item.getId %}"
                    }),
                    'MediaItemVersionsPanel': new cntmo.prtl.Item.MediaItemVersionsPanel({
                        el:$('#panel_preview'),
                        url: "{% url vs_item_versions item.getId  %}",
                        currentSelectedVersion: "{{ version }}"
                    }),
                    {% if COMMENTS_ENABLED %}
                        'MediaItemCommentsPanel': new cntmo.prtl.Item.MediaItemCommentsPanel({
                            el:$('#panel_comments'),
                            url: "{% url comments:comment_thread item.getId 'item' version|default:'latest' %}",
                            currentSelectedVersion: "{{ version }}"
                        })
                    {% endif %}
                }

            });

            {% comment %}

            // Add relationship functionality to the media bin.
            $('#mediabin').bind('cntmo.prtl.MediaBinView.Event.addAll', function(event){
                  $('#mediabin .smallmediapod').trigger('cntmo.prtl.MediaBinVSItemView.addContextPlugin', ['AddItemRelationship', 'cntmo.prtl.AddItemRelationShip', 'Relate to item']);
                  });
              $(window).bind('cntmo.prtl.AddItemRelationShip', function(event, model){
                  /*  Add item relationship
                      call add to element.
                      On Success raise an event which will tell the collection to go fetch...
                  */
                   $.ajax({
                       url:'{% url vs_create_relationship %}',
                       data: { source: '{{ item.getId }}', target: model.get('resource_id') },
                       type: 'GET',
                       success: function(data, textStatus, XMLHttpRequest){
                           $.growl(data, 'success');
                       },
                   });
              });
            {% endcomment %}


        });
    </script>
    {% pluginblock "MediaViewInLineJS" %}
{% endblock inlinejs %}

{% docstring %}
media_view.html
============
This is the main media page for showing an item.

It includes a template to present viewers for different item types, shows some basic technical metadata and has a panel switching system for show information on the current item by selecting the menu on the left hand side.

Context
-------

There is a lot of context on this page, please use the debug tag if you wish to see it all.

Plugins
-------

pluginblock
    MediaViewDropdown - Use for adding menu option to the gearbox dropdown menu
    MediaViewLeftContentBottom - Use for adding more things into the left content view.
    MediaViewItemTechMetadataTop - For adding more information to the Item metadata section
    MediaViewLeftPanelMenu - For adding items to the Panel switcher menu
    MediaViewInLineJS - For adding Javascript into the bottom of the MediaView's page.
    MediaViewPanelRow1 - For adding a panel to Row1 in MediaView's page.
    MediaViewPanelRow2 - For adding a panel to Row2 in MediaView's page.
    ItemTechMetadataPlugin - For adding more information to the Item metadata section at the bottom.

The panel switching system can also register new panels and take existing panels away.
{% enddocstring %}
