{% themeextends "media/media_inc_item_base.html" %}

{% load thumbnailer datetimeformatting i18n general vidispinetags %}

{% block icon %}
    <i class="material-icons">
        {% if item.getItemType == 'SubClip' %}
            art_track
        {% else %}
            videocam
        {% endif %}
    </i>
{% endblock icon %}

{% block media %}
    {% create_thumbnails item item_URL %}
{% endblock media %}

{% block timeoverlay %}
    {% if item.getDurationSeconds %}
        <div class="time-overlay">
            <h5>{{ ""|formatToTime:item.getDurationSeconds }}</h5>
        </div>
    {% endif %}
    {% comment %}
    <div class="infoholder">
    	<span class="info">
    	   <div>{{ ""|filterOriginalFormat:item.getMetadata.1.originalFormat|upper }} {{ item.getMetadata.1.originalVideoCodec|upper }}</div>
    	   <input type="checkbox" name="mediaitem" value="{{ item.getId }}" id="item_{{ item.getId }}" class="infocheckbox">
    	   <div class="mediacreatedate">{% trans "Created" %}: {{ item.getMetadata.1.created|datetimeobject|date:"DATETIME_FORMAT" }}</div>
    	</span>
    </div>
    {% endcomment %}
{% endblock timeoverlay %}
