{% themeextends "includes/base_sidebar_mdl_drawer.html" %}

{% load i18n settings %}

{% block title %}
	{% trans "Media" %}
{% endblock title %}

{% block menu %}
{% settings "COMMENTS_ENABLED" as COMMENTS_ENABLED %}
<div class="leftcontent" id="mv_menu">
    <!--<ol class="mi_contextmenu" id="mi_contextmenu">-->
    <nav id="mi_contextmenu" class="mdl-navigation">
        <li>
            <a href="#" class="selected mdl-navigation__link" id="mv_preview_a" shortcut="preview"  rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemMetadataPanel"], "norender":["MediaItemPreviewPanel", "MediaItemMetadataPanel"], "callfunc":{"func":"itemPlayer.playerResize", "args":["itemPlayer","large"]}}'>
                <i class="material-icons">visibility</i>
                {% trans "Preview" %}
            </a>
        </li>
        
        <li>
            <a href="#" id="mv_thumbnails_a" class="mdl-navigation__link" shortcut="thumbnails" rel='{"viewopen":["MediaItemThumbnailPanel", "MediaItemMetadataPanel"]}'>
                <i class="material-icons">collections</i>
                {% trans "Thumbnails" %}
            </a>
        </li>
        
        {% if systemmetadata.mediaType == "video" %}
            {% permissionrequired _thumbnail_read %}
                <li>
                    <a href="#" id="mv_posters_a" class="mdl-navigation__link" shortcut="posters" rel='{"viewopen":["MediaItemPosterPanel", ""]}'>
                        <i class="material-icons">photo_album</i>
                        {% trans "Posters" %}
                    </a>
                </li>
            {% endpermissionrequired %}
        {% endif %}
        
        {% if item.getShapes %}
            {% if aclcurrentuser.hasURIReadPermission %}
                <li>
                    <a href="#" id="mv_formats_a" class="mdl-navigation__link" shortcut="formats" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemFormatsPanel"], "norender":["MediaItemPreviewPanel"], "callfunc":{"func":"itemPlayer.playerResize", "args":["itemPlayer","small"]}}'>
                        <i class="material-icons">description</i>
                        {% trans "Formats" %}
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% permissionrequired _job_read %}
            <li>
                <a href="#" id="mv_history_a" class="mdl-navigation__link" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemHistoryPanel"], "norender":["MediaItemPreviewPanel"], "callfunc":{"func":"itemPlayer.playerResize", "args":["itemPlayer","small"]}}'>
                    <i class="material-icons">history</i>
                    {% trans "History" %}
                </a>
            </li>
        {% endpermissionrequired %}

        {% permissionrequired _accesscontrol_read %}
            <li>
                <a href="#" id="mv_accesscontrol_a" class="mdl-navigation__link" shortcut="accesscontrol" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemACLPanel"], "norender":["MediaItemPreviewPanel"], "callfunc":{"func":"itemPlayer.playerResize", "args":["itemPlayer","small"]}}'>
                    <i class="material-icons">lock_outline</i>
                    {% trans "Access Right" %}
                </a>
            </li>
        {% endpermissionrequired %}

        {% if version_support %}
            <li>
                <a href="#" id="mv_versions_a" class="mdl-navigation__link" shortcut="versions" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemMetadataPanel"], "norender":["MediaItemPreviewPanel", "MediaItemVersionsPanel"], "callfunc":{"func":"cntmo.prtl.panelviews.MediaItemVersionsPanel.render", "args":["itemPlayer","small"]}}'>
                    <i class="material-icons">timeline</i>
                    {% trans "Versions" %}
                </a>
            </li>
        {% endif %}

        {% if COMMENTS_ENABLED %}
            <li>
                <a href="#" id="mv_comments_a" class="mdl-navigation__link" shortcut="comments" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemCommentsPanel"], "norender":["MediaItemPreviewPanel", "MediaItemCommentsPanel"], "callfunc":{"func":"cntmo.prtl.panelviews.MediaItemCommentsPanel.render", "args":["itemPlayer","large"]}}'>                
                    <i class="material-icons">comment</i>
                    {% trans "Comments" %}
                    <span class="commentsCommentCount">{% if commentcount > 0  %}({{ commentcount }}){% endif %}</span>
                </a>
            </li>
        {% endif %}

            <li>
                <a href="#" id="mv_related_a" class="mdl-navigation__link" shortcut="related" rel='{"viewopen":["MediaItemPreviewPanel", "MediaItemRelatedPanel"], "norender":["MediaItemPreviewPanel", "MediaItemRelatedPanel"], "callfunc":{"func":"cntmo.prtl.panelviews.MediaItemRelatedPanel.render", "args":["itemPlayer","small"]}}'>
                    <i class="material-icons">group_work</i>
                    {% trans "Related" %}
                </a>
            </li>
        {% pluginblock "MediaViewLeftPanelMenu" %}
    </nav>
    <!--</ol>-->
    <ol>
        {% pluginblock "MediaViewLeftContentBottom" %}
    </ol>
</div><!-- .leftcontent -->
{% endblock menu %}