/**
 * Platform X | MDL theme for Cantemo
 * Author: Jared Smith <jared@highwaythreesolutions.com>
 * Github: @jrods
 *
 * Description:
 *
**/

/** Main
**********************************************/
#main {

}
body, ul, li {
    margin: 0;
    padding: 0;
}
select {
    color: rgba(0,0,0,0.54);
    display: block;
    width: 100%;
    border: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px !important;
    line-height: 24px;
    cursor: pointer;
}
li, ul {
    list-style: none;
    text-decoration: none;
}
form li {
    padding: 4px 0;
    margin: 1px 0;
    list-style-type: none;
    vertical-align: middle;
    clear: both;
}
form li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mdl-layout__header .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid rgb(255,255,255);
}
.mdl-layout__header .mdl-radio__inner-circle {
    background: rgb(255,255,255);
}
.mdl-layout__header .mdl-radio__outer-circle {
    border: 2px solid rgba(255,255,255, 0.85);
}
.content a {
    text-decoration: none;
}
.ui-draggable-dragging {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}
.ui-draggable-dragging .smallmediapod {
    position: relative;
}
.ui-draggable-dragging .smallmediapod .media-pod-wrap {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    border: 1px solid #aaa;
    border-radius: 2px;
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.ui-draggable-dragging .smallmediapod .media-pod-wrap .mediaitemtitle {
    opacity: 0.8;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    box-sizing: border-box;
    width: 100%;
    line-height: 16px;
    border-radius: 0 0 2px 2px;
    max-height: 45%;
    padding: 2px 4px;
}

/** Login
**********************************************/
#frontpage {

}
#frontpage .mdl-layout {
    align-items: center;
    justify-content: center;
}
#frontpage .login-card > .mdl-card__title {
    max-height: 64px;
}
#frontpage .login-card > .mdl-card__menu {
    color: #fff;
}
#frontpage .mdl-card__actions {
    text-align: right;
}
#frontpage .login-card .mdl-textfield {
    display: block;
    padding: 10px;
}
#frontpage .mdl-textfield__expandable-holder {
    width: 82%;
}
#frontpage .mdl-textfield .mdl-button {
    bottom: auto;
}
#login-messages p {
    padding-left: 20px;
}
.login-copyright {
    position: absolute;
    bottom: 0px;
    right: 15px;
}
#frontpage .ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
}
#frontpage .ui-dialog-titlebar,
#frontpage .ui-dialog-content,
#frontpage .ui-dialog-buttonpane {
    background-color: #fff;
}
#frontpage .ui-dialog-titlebar {
    padding-bottom: 10px;
}
#frontpage .ui-dialog-buttonpane {
    padding-top: 10px;
}
#frontpage .tandc .ui-dialog-titlebar-close {
    display: none;
}

/** Navigation
**********************************************/
.mdl-layout__header {
    /*
    border-top: 4px solid #3F51B5 !important;
    border-bottom: 4px solid #3F51B5 !important;
    */
}
#main-row {
    height: 52px;
}
#main-nav.mdl-navigation > .mdl-navigation__link:hover {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
#main-nav.mdl-navigation > .mdl-navigation__link:hover {
    border-bottom: 4px solid #fff;
}
#Account.mdl-button {
    overflow: auto;
}
#Account .mdl-badge {
    position: static;
}
/** Drawer
*********************/
.mdl-layout__drawer > .mdl-layout__title, .mdl-layout__drawer > .mdl-layout-title {
    border: 4px solid transparent;
}
.mdl-navigation .mdl-navigation__link.selected {
    background-color: #3F51B5;
    color: #fff !important;
}
.nav-group {
    padding-bottom: 14px;
}
.nav-group h4 {
    font-size: 18px;
    margin: 0;
    padding-left: 16px;
}
.mdl-navigation .nav-group .mdl-navigation__link {
    padding: 2px 0;
    padding-left: 30px;
}
.mdl-navigation .nav-group select {
    width: 90%;
    padding-left: 30px;
}

/** Mediabin
**********************************************/
#mediabin-tab-show {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#mediabin {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 900;
}
#mediabin .mdl-layout__header {
    border-top: 0;
    border-bottom: 0;
}
#mediabin .mdl-navigation {
    position: relative;
}
#mediabin .mdl-layout__header,
#mediabin .mdl-layout__header-row,
#mediabin .mdl-navigation,
#mediabin .mdl-navigation__link,
#mediabin .mdl-menu__item {
    height: 32px;
    min-height: 0;
    line-height: 32px;
}
#mediabin .mdl-navigation__link {
    cursor: pointer;
}
#mediabin .mdl-navigation .mdl-navigation__link {
    padding: 0;
    padding-right: 48px;
}
#mediabin #mediabinholder {

}
#mediabin .viewport {

}
#mediabin .mediabinitems {
    display: flex;
    overflow-y: auto;
}
#mediabin .smallmediapod,
#mediabin .smallmediapodDroppableTarget {
    position: relative;
    flex: none;
    box-sizing: border-box;
    margin: 8px;
    border-radius: 2px;
    width: 140px;
    height: 140px;
}
#mediabin .smallmediapod.smallmediapod-selected {
    box-shadow: 0px 0px 2px 2px rgb(255,64,129);
}
#mediabin .smallmediapod .media-pod-wrap {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    border-radius: 2px;
    width: auto;
    height: 100%;
    overflow: hidden;
}
#mediabin .mediaitemtitle {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    box-sizing: border-box;
    width: 100%;
    line-height: 16px;
    border-radius: 0 0 2px 2px;
    max-height: 45%;
    padding: 2px 4px;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
#mediabin .media-pod-wrap:hover > .mediaitemtitle {
    opacity: 1;
}
#mediabin .cntmo_prtl_mediabin-pod-rmv {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 0;
    right: 0;
    border-radius: 0 2px;
}
#mediabin .cntmo_prtl_mediabin-pod-view {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    color: #fff;
    background-color: rgba(255,64,129,0);
    cursor: pointer;
    border-radius: 100%;
    padding: 8px;
    text-decoration: none;
}
#mediabin .cntmo_prtl_mediabin-pod-rmv {
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
#mediabin .cntmo_prtl_mediabin-pod-view {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
#mediabin .media-pod-wrap:hover > .cntmo_prtl_mediabin-pod-view {
    background-color: rgb(255,64,129);
}
#mediabin .media-pod-wrap:hover > .cntmo_prtl_mediabin-pod-rmv {
    background-color: rgba(0,0,0, 0.6);
}
#mediabin .smallmediapodDroppableTarget {
    background-color: #aaa;
    height: 140px;
    width: 140px;
}

/** Main
**********************************************/
.mdl-layout__content {
    /* padding: 0 40px; */
}
#content {

}
.paginator {
    display: flex;
    margin: 16px;
    margin-top: 0;
}
.paginator .mdl-button {
    margin-right: 12px;
    min-width: 48px;
    padding: 0;
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.paginator .mdl-button:last-child {
    margin-right: 0;
}
.paginator .page-number {
    min-width: 32px;
}

/** Admin
**********************************************/

/** Search
**********************************************/
#react-search-form {

}
#react-search-form form li {
    margin: 0;
    padding: 0 8px;
}
#react-search-form .searchform {
    position: relative;
}
/* Bad, bad, bad, but i don't have another solution atm */
.mdl-layout__header #react-search-form .searchform div[data-reactid=".0.1.$=14:0"] {
    position: absolute;
    top: 48px;
    right: 0;
    width: 800px;
    /* for max-heigth, viewport minus header height minus 16px for bottom margin content */
    max-height: calc(100vh - 116px - 16px);
    background-color: rgb(63,81,181);
    padding: 12px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow-y: scroll;
}
#react-search-form .searchform .searchcritera {
    display: flex;
    align-items: center;
}
#react-search-form .searchform .searchcritera p,
#react-search-form .searchform .criteria_container .collapsible span {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin: 0;
    padding-right: 4px;
}
#react-search-form .searchform .searchcritera ul {
    display: flex;
}
#react-search-form .searchform .advancedsearchform {
    padding: 10px;
}
#react-search-form .searchform .advancedsearchform > fieldset {
    padding: 0;
}
#react-search-form .searchform .advancedsearchform .criteria_field {
    padding: 8px;
}
#react-search-form .searchform .advancedsearchform .criteria_field .field_container {
    display: flex;
    align-items: center;
}
#react-search-form .searchform .advancedsearchform .criteria_field.amount_field .field_container input {
    width: 75px;
}
#react-search-form .searchform .advancedsearchform .criteria_field .field_container label,
#react-search-form .searchform .advancedsearchform .criteria_field div label {
    width: 124px;
}
#react-search-form .searchform .advancedsearchform .criteria_field .field_container label span,
#react-search-form .searchform .advancedsearchform .criteria_field div label span {
    font-weight: 600;
}
#react-search-form #largesearchformwrapper {
    display: flex;
}
#react-search-form #largesearchform {
    order: 2;
}
#react-search-form .show_advanced #show_advanced {
    transition: transform 200ms linear;
    transform: rotate(270deg);
}
#react-search-form #searchinputbutton {
    display: none;
}


/*
#search-header {
    height: 48px;
}
#search-header > * {
    padding-right: 12px;
}
#search-header > *:last-child {
    position: relative;
    padding-right: 0;
}
#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#search-wrap {
    display: flex;
    align-items: center;
}
#search-wrap .mdl-textfield {
    width: auto;
}
#search-wrap .mdl-textfield input {
    min-width: 500px;
}
.search-size {
    font-size: 32px !important;
}
label.search-size {
    top: 30px;
    line-height: 32px;
}
#advanced-search-card.mdl-card {
    display: none;
    width: 700px;
    height: auto;
}
#advanced-search-card > .mdl-card__title {
  color: #fff;
}
#advanced-search-card #display-choices-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
*/


/** Criteria
**********************/
.form-group {
    padding: 10px;
}
.form-group > * {
    display: inline-block;
}
.form-group > label {
    font-size: 16px;
}

/** Items
**********************************************/
/* Ok, there's something funny going on in chrome when using a fixed height with cards, happens in safari too,
firefox is the only one that renders it correctly,
however, for the work around, elements inside the card will have to have a set height (min/max)
for all the cards in the results to be the same height, ugh */
.media-item-card {
    width: 100%;
    /* height: 300px; */
    -webkit-transition: background-color 150ms ease-in-out;
    transition: background-color 150ms ease-in-out;
    overflow: visible;
    z-index: auto;
}
.media-item-card .mdl-card__menu {
    right: 11px;
    top: 11px; /* firefox wants 10px, chrome/safari wants 12px */
}
.media-item-card .mdl-menu__item {
    line-height: 28px;
    height: 28px;
    padding: 0 12px;
}
.media-item-card .mdl-card__title h2 {
    white-space: nowrap;
    font-size: 20px;
}
.media-item-card .mdl-card__title .mdl-tooltip.mdl-tooltip--large {
    word-wrap: break-word;
}
.media-item-card .mdl-card__title svg {
    padding-right: 6px;
}
.media-item-card .mdl-card__media {
    position: relative;
    box-sizing: border-box;
    border-left: 16px solid;
    border-right: 16px solid;
    border-color: #fff;
    height: 180px;
    background-color: inherit;
    overflow: hidden;
}
.media-item-card .mdl-card__media .time-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 2px 10px;
    background-color: rgba(0,0,0,0.5);
    color: #eee;
}
.media-item-card .mdl-card__media .time-overlay h5 {
    margin: 0;
    margin-top: 3px;
}
.media-item-card .mdl-card__media .thumbnailholder,
.media-item-card .mdl-card__media .thumbnailholderblank {
    display: flex !important;
    justify-content: center;
    width: auto !important;
    height: inherit !important;
    max-width: none !important;
}
.media-item-card .mdl-card__media .thumbnailholder a,
.media-item-card .mdl-card__media .thumbnailholder img,
.media-item-card .mdl-card__media .thumbnailholderblank a,
.media-item-card .mdl-card__media .thumbnailholderblank img {
    width: inherit !important;
    height: inherit !important;
    max-width: none !important;
}
.media-item-card .mdl-card__media .thumbnailholder map {
    display: none;
}
.media-item-card .mdl-card__supporting-text {
    width: auto;
    min-height: 36px;
}
.media-item-card .mdl-card__supporting-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.media-item-card .mdl-card__supporting-text input {
    display: none;
}
.media-item-card .mdl-card__supporting-text .info.added {

}
.media-item-card .mdl-card__menu .mdl-button {
    background-color: #fff;
}
/* Transitions */
.media-item-card,
.media-item-card .mdl-card__title,
.media-item-card .mdl-card__supporting-text,
.media-item-card .mdl-card__menu .mdl-button {
    -webkit-transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
.media-item-card .mdl-card__media {
    -webkit-transition: border-color 100ms ease-in-out;
    transition: border-color 100ms ease-in-out;
}
/* Selected */
.mediaitem-selected .media-item-card {
    background-color: #3F51B5;
}
.mediaitem-selected .media-item-card .mdl-card__title,
.mediaitem-selected .media-item-card .mdl-card__supporting-text,
.mediaitem-selected .media-item-card .mdl-card__menu .mdl-button {
    color: #fff;
}
.mediaitem-selected .media-item-card .mdl-card__media {
    border-color: #3F51B5;
}
.mediaitem-selected .media-item-card .mdl-card__menu .mdl-button {
    background-color: #3F51B5;
}

/** Media View
**********************************************/
#mvcontent {

}
#mvcontent .row {
    padding: 0 16px 16px 16px;
}
#mvcontent .row:first-child {
    padding: 16px;
}
#media-header {
    height: 48px;
}
.panel-wrap {
    padding-bottom: 24px;
}
#panel_preview {
    display: flex;
    justify-content: space-between;
}
#media-card {

}
#media-card .mdl-card__supporting-text {
    box-sizing: border-box;
    width: 100%;
    min-height: 300px;
}
#panel_preview .secondary {

}
#panel_preview .secondary > * {
    width: 100%;
}
#search-prev-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 0;
    margin-bottom: 16px;
}
#media-info-card {

}
#media-info-card dl,
.podPreview .mdl-tabs__panel dl {
    margin: 0;
}
#media-info-card dl .hr-panel,
.podPreview .mdl-tabs__panel dl .hr-panel {
    padding: 8px;
}
#media-info-card dl .hr-panel:first-child {
    padding: 0;
}
#media-info-card dl > dt,
#media-info-card dl > dd,
.podPreview .mdl-tabs__panel dl > dt,
.podPreview .mdl-tabs__panel dl > dd {
    display: inline-block;
}
#media-info-card dl > dt,
.podPreview .mdl-tabs__panel dl > dt {
    min-width: 100px;
    max-width: 130px;
}
#media-info-card dl > dd,
.podPreview .mdl-tabs__panel dl > dd {
    margin-left: 10px;
}


/* video player */
.cpPlayer {
    position: relative;
}
.cpPlayer .player-videodiv {

}
.cpPlayer .player-header {
    display: flex;
    justify-content: space-between;
    height: 24px; /* the player.js always sets to a height, better to do what it says */
}
.cpPlayer .player-header .text_stroke {
    font-weight: bold;
}
.cpPlayer .ui-slider {
    position: relative;
    text-align: left;
    background: url(/sitemedia/img/player/sprite.png);
    border: none;
}
.cpPlayer .ui-slider-horizontal {
    height: 20px;
}
.cpPlayer .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -5px;
    border: none;
    width: 12px;
    height: 20px;
    top: 0;
    z-index: 10;
    background: url(/sitemedia/img/player/sprite.png) 0 -80px;
    filter: brightness(2);
    -webkit-filter: brightness(2);
}
.player-videodiv button {
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
.cpPlayer .player-button-holder {
    display: table;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 0 0  2px 2px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* background-color: rgb(63,81,181); */
}
.cpPlayer .player-button-holder .middle{
    display: table-cell;
    line-height: 40px;
    height: 35px;
    padding-left: 40px;
}
.cpPlayer .player-button-holder .middle .mute {
    background-position: 2px -178px;
    width: 16px;
    height: 16px;
    margin: 13px 12px 11px 6px;
}
.cpPlayer .player-button-holder .cpPlayerButton {
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    border: none;
    background: url(/sitemedia/img/player/sprite.png);
    -ms-filter: none;
    filter: none;
}
.cpPlayer .player-button-holder .cpPlayerButton:active,
.cpPlayer .player-button-holder .cpPlayerButton:focus {
    outline: 0;
    -moz-outline-style: none;
}
.cpPlayer .player-button-holder .middle .volsliderholder {
    position: absolute;
    z-index: 10;
    height: 83px;
    padding: 4px 1px;
    background: #383d47;
    border: 1px solid #222;
    width: 12px;
    border-radius: 4px;
}
.cpPlayer .player-button-holder .middle .volsliderholder div.volslider.ui-slider-vertical {
    height: 76px !important;
    width: 11px;
    background-position: -342px -180px;
}
.cpPlayer .player-button-holder .middle .volsliderholder div.volslider.ui-slider-vertical a.ui-slider-handle {
    margin-left: 0;
    margin-bottom: -8px;
    background: url(/sitemedia/img/player/sprite.png);
    background-position: 0 -238px;
    height: 12px;
    width: 12px;
    display: block;
    top: inherit;
}
/* step backwark button */
.cpPlayer .player-button-holder .middle .stepb {
    background-position: 0 -300px;
    width: 60px;
    height: 29px;
    top: 8px;
}
.cpPlayer .player-button-holder .middle .stepb:hover {
    background-position: -80px -300px;
}
.cpPlayer .player-button-holder .middle .stepb:active,
.cpPlayer .player-button-holder .middle .stepb .selected {
    background-position: -159px -300px;
}
/* Play button */
.cpPlayer .player-button-holder .middle .play {
    background-position: 0 -340px;
    width: 60px;
    height: 30px;
    margin: 0;
    top: 7px;
    z-index: 2;
    margin: 0 -14px;
}
.cpPlayer .player-button-holder .middle .play:hover {
    background-position: -80px -340px;
}
.cpPlayer .player-button-holder .middle .play:active,
.cpPlayer .player-button-holder .middle .play.selected {
    background-position: -159px -340px;
}
/* Step forward button */
.cpPlayer .player-button-holder .middle .stepf {
    background-position: 0 -380px;
    width: 60px;
    height: 30px;
    top: 8px;
}
.cpPlayer .player-button-holder .middle .stepf:hover {
    background-position: -80px -380px;
}
.cpPlayer .player-button-holder .middle .stepf:active,
.cpPlayer .player-button-holder .middle .stepf .selected {
    background-position: -159px -380px;
}
/* step second backward button */
.cpPlayer .player-button-holder .middle .step-sec-back {
    background-position: 0 -260px;
    width: 35px;
    height: 30px;
    top: 8px;
    margin-left: 8px;
}
.cpPlayer .player-button-holder .middle .step-sec-back:hover {
    background-position: -80px -260px;
}
.cpPlayer .player-button-holder .middle .step-sec-back:active,
.cpPlayer .player-button-holder .middle .step-sec-back .playing {
    background-position: -159px -260px;
}
/* step second forward button */
.cpPlayer .player-button-holder .middle .step-sec-fwd {
    background-position: 0 -420px;
    width: 35px;
    height: 30px;
    top: 8px;
}
.cpPlayer .player-button-holder .middle .step-sec-fwd:hover {
    background-position: -80px -420px;
}
.cpPlayer .player-button-holder .middle .step-sec-fwd:active,
.cpPlayer .player-button-holder .middle .step-sec-fwd .selected {
    background-position: -159px -420px;
}
/* Grab stills (poster) */
.cpPlayer .player-button-holder .middle .stills .player-grab-still {
    position: relative;
    margin-left: 12px;
    background-position: 0 -199px;
    height: 24px;
    width: 24px;
    top: 11px;
    overflow: visible;
}
.cpPlayer .player-button-holder .middle .stills .player-grab-still:hover {
    background-position: -80px -199px;
}
/* end of player controls */
/* other player sizes */
/* small */
.smallPlayer .ui-slider .ui-slider-handle {
    height: 4px;
    width: 4px;
    background: #888;
    margin-left: 0;
    border: none;
}
/* large */
.largePlayer .player-timeline-div {
    position: relative;
    margin: 0;
}
.largePlayer .player-timeline-div .loader {
    display: none;
    position: absolute;
    height: 20px;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(/sitemedia/img/player/sprite.png) 0 -580px;
}
#player-card .mdl-card__supporting-text {
    width: calc(100% - 48px);
    /* for aligning the content inside, in the middle,
    because i took away the margin on the left side,
    inspect element with hightlight on to see what i mean */
    padding: 16px 24px;
}
#player {
    width: 100% !important;
    height: 100% !important;
}
#noflashnotice a > br {
    display: none;
}
#player-0-video video {
    width: 100%;
}

#panel-content-card {

}
#panel-content-card > div {
    width: 100%;
}
#panel_thumbnails {
    width: 100%;
}
#panel_format .mdl-card__title {
    justify-content: space-between;
}
#panel_format .mdl-card__title h3,
#panel_history .mdl-card__title h3,
#panel_acl .mdl-card__title h3 {
    margin: 0;
}
#panel_format {
    overflow: visible;
}
#format-info {
    overflow: inherit;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
/*
#cntmo_prtl_mediaitem_shape_table {
    text-align: left;
    width: 100%;
}
#cntmo_prtl_mediaitem_shape_table > tbody > tr {
    padding-bottom: 4px;
}
#cntmo_prtl_mediaitem_shape_table tr:last-child {
    padding-bottom: 0;
}
#cntmo_prtl_mediaitem_shape_table th {
    padding-right: 16px;
}
#cntmo_prtl_mediaitem_shape_table th:last-child {
    padding-right: 0;
}
*/
#cntmo_prtl_mediaitem_shape_table {
    white-space: normal;
    width: 100%;
}
.cnxtualMenu {
    z-index: 100;
}
#cntmo_prtl_mediaitem_shape_table > tbody > tr:first-child {
    display: none;
}
.imgpreloader {
    display: none;
}
.shapeformat {
    cursor: pointer;
}
.cnxtualMenu {
    text-align: left;
    vertical-align: top;
    display: none;
    position: absolute;
    padding: 4px;
    background: #fff;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0,0,0, 0.4);
    border-radius: 2px;
}
.cnxtualMenu-show {
    opacity: 1;
    display: inline-block;
}
.cnxtualMenu_arrow {
    display: none;
}
.cnxtualMenu table td {
    padding: 8px;
}
.cnxtualMenu table td:first-child {
    padding-left: 8px;
}
.cnxtualMenu table td:nth-child(odd) {
    font-weight: 600;
    padding-right: 0;
}
.cnxtualMenu table td:nth-child(even) {
    padding-right: 8px;
}
.cnxtualMenu table td:last-child {

}
#transcodepanel > * {
    padding-top: 16px;
}
#jobstbl {
    text-align: left;
    width: 100%;
}
.table-wrap {
    box-sizing: border-box;
    width: 100% !important;
}
#panel_acl {

}
#panel_posters {
    box-sizing: border-box;
    width: 100%;
}
.imagethumbnailwrapper img {
    border-radius: 2px;
    width: 100%;
}

#panel_metadata #react-metadataform {
    width: 100%;
    box-sizing: border-box;
}
#panel_metadata .panel-header {
    display: flex;
    align-items: center;
}
#panel_metadata .panel-header h2 {
    font-size: 42px;
    line-height: 42px;
    margin: 0;
    margin-right: auto; /* magic? */
}
#react-metadataform button,
#react-metadataform .button,
.ui-dialog.exportView button,
.ui-dialog.exportView .add_new_element {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
#react-metadataform button,
#react-metadataform .button,
.ui-dialog.exportView button,
.ui-dialog.exportView .add_new_element {
    background: rgba(158,158,158, 0.20);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.panel-header button {
    margin-left: 5px;
}
.panel-header .edit_metadata button,
#react-metadataform #editmetadataform_action,
.hierarchy-field-value.active,
.ui-dialog.exportView button,
.ui-dialog.exportView .add_new_element {
    background: rgb(63,81,181) !important;
    color: rgb(255,255,255) !important;
}
.panel-header .button-delete {
    color: rgb(255,255,255) !important;
    background-color: rgb(255,64,129) !important;
}
.formmain.disable .select2-search-field .select2-input {
    border: 0 transparent;
    padding: 0;
    background: 0 0;
}
.metadatafieldwrapper {
    margin: 10px 0;
}
.metadatafieldwrapper > li {
    position: relative;
}
.metadatafieldwrapper .field_container > *,
.metadatafieldwrapper li > * {
    display: inline-block;
}
.metadatafieldwrapper input {
    color: rgba(0,0,0, 0.54);
    font-size: 1rem;
    line-height: 18px;
}
.metadatafieldwrapper label {
    min-width: 120px;
}
.metadatafieldwrapper label span {
    font-weight: 600;
}
.metadatafieldwrapper .fieldtype_textarea textarea {
    vertical-align: middle;
    resize: both;
}
.metadatafieldwrapper .fieldtype_textarea pre {
    vertical-align: middle;
}
.metadatafieldwrapper .select2-search-field .select2-input {
    min-width: 200px;
}
.fld_help_txt,
.formmain div.fld_help_txt,
.formmain div div.fld_help_txt {
    vertical-align: top;
    position: absolute;
    margin-left: 7em;
    max-width: 200px;
    display: none;
    z-index: 100;
    margin-top: -4px;
    padding: 6px 12px;
    background: rgba(97,97,97,.9);
    color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.fld_help_txt.hld_help_txt_show,
.formmain div.fld_help_txt.fld_help_txt_show,
.formmain div div.fld_help_txt.fld_help_txt_show {
    display: inline;
    opacity: 1;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}
.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #f4f4f4;
    color: #333;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
}
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
}
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}
.select2-container ul {
    padding: 0;
}
#metadataform ul.metadatafieldwrapper ul.select2-choices,
.metadataform ul.metadatafieldwrapper ul.select2-choices,
#metadataform ul.metadatafieldwrapper li.choice_wrapper,
.metadataform ul.metadatafieldwrapper li.choice_wrapper {
    width: 37em;
    display: inline-block;
    box-sizing: border-box;
}
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: default;
}
.select2-container-multi .select2-choices {
    height: auto!important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #d5d4d4;
    cursor: text;
    overflow: hidden;
}
.select2-container-multi .select2-choices {
    background: #fff;
    min-height: 26px;
}
.formmain.metadataform .select2-container-multi .select2-choices .select2-search-choice {
    border-radius: 3px;
    padding: 3px 7px;
    margin: 5px 0 0 5px;
    min-height: 18px;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #d5d4d4;
    background-image: none;
    background-color: transparent;
    color: #888;
}
.select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    color: #fff;
    background: #4183c4;
    border: 1px solid #33689d;
    cursor: default;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    clear: none;
    font-size: 1em;
}
.formmain.metadataform .select2-container-multi .select2-search-choice-close {
    left: 6px;
    top: 5px;
}
.select2-container-multi .select2-search-choice-close {
    left: 3px;
    top: 3px;
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #333;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent!important;
}
.formmain.disabled .select2-container-multi .select2-choices .select2-search-field input {
    display: none;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: 0;
    background: url(/sitemedia/img/core/select2.png) right top no-repeat;
}
.formmain.metadataform .select2-container-multi .select2-choices .select2-search-choice div {
    margin-left: 20px;
}
.formmain.metadataform .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice div {
    margin-left: 0;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
    background: 0 0;
}
.select2-display-none {
    display: none;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: underline;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}
.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}


.metadataform fieldset fieldset {
    padding: 30px 10px 4px 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
    box-sizing: border-box;
}
.fieldsetwrapper {
    position: relative;
}
.fieldsetwrapper fieldset {
    margin-top: 10px;
    padding-top: 30px;
    position: relative;
    width: 94%;
    float: left;
    border: 1px solid #bdbdbd;
}
.metadataform fieldset {
    box-sizing: border-box;
    padding: 0 0 4px 0;
    width: 100%;
    float: left;
    clear: both;
}
.formmain fieldset {
    padding: 16px 8px 32px 8px;
}
.group_wrapper .action-btn:last-of-type {
    position: absolute;
    right: 10px;
    top: 28px;
    left: auto;
    margin-top: 0;
    margin-left: 0;
}
.group_wrapper .formlookupbut {
    right: auto;
    margin-top: 0;
    margin-left: 0;
}
.metadataform .formlookupbut, #metadataform .formlookupbut, .group_wrapper .formlookupbut {
    position: static;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 12px;
}
img {
    border: 0;
}


.podPreview .iteminfo {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    min-width: 350px;
}
.podPreview .preview {
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 50%;
}
.podPreview img {
    width: 100%;
    height: auto;
}
.podPreview .mdl-tabs__panel {
    color: rgba(0,0,0, 0.54);
}
.ui-widget-overlay {
    background: rgba(0,0,0, 0.4);
}
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.ui-dialog {
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(/sitemedia/img/core/ui-icons_222222_256x240.png);
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-dialog-titlebar {
    position: relative;
    background-color: rgb(63,81,181);
    color: rgb(255,255,255);
    padding: 15px 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.ui-dialog-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
.ui-dialog-titlebar-close {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}
.ui-widget-content .ui-icon {
    background-image: url(/sitemedia/img/core/ui-icons_222222_256x240.png);
    filter: brightness(0) invert(1);
}
.ui-icon-closethick {
    background-position: -96px -128px;
}
.ui-dialog .ui-dialog-content {
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}
.ui-dialog .dataTables_wrapper .dataTables_filter input {
    font-size: 100%;
    margin: 1px 0;
    border: 1px solid #aaa;
    border-radius: 2px;
    width: 200px;
    padding: 5px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}
.ui-dialog .dataTables_wrapper table {
    width: 100%;
    padding: 10px 0;
}
.ui-widget-content {
    background: #fff;
}
.ui-dialog .dataTables_wrapper {
    padding-bottom: 10px;
}
.ui-dialog .dataTables_wrapper .top {
    display: flex;
    align-items: center;
}
.ui-dialog .dataTables_wrapper .dataTables_filter {
    flex-grow: 1;
    padding-left: 10px;
}
.ui-dialog-buttonpane {
    padding: 10px 20px;
}
.dataTables_paginate .paginate_disabled_previous {
    float: left;
    background: url(/sitemedia/img/arrow-prev.png) no-repeat left -20px;
    height: 1.5em;
    width: 20px;
}
.dataTables_paginate .paginate_disabled_next {
    float: right;
    background: url(/sitemedia/img/arrow-next.png) no-repeat left -20px;
    height: 1.5em;
    width: 20px;
}
.dataTables_paginate a {
    display: block;
    width: 20px;
    height: 1em;
    text-indent: -9999px;
}


.hierarchy-field {
    box-sizing: border-box;
}
.hierarchical-field-wrapper {
    vertical-align: top;
}
.hierarchy-field .hierarchy-field-values-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    cursor: default;
    outline: 0;
    margin-bottom: 5px;
    padding: 0;
}
.hierarchy-field .hierarchy-field-values {
    padding-right: 25px;
    display: block;
    margin-top: 7px;
    margin-left: 5px;
}
.hierarchy-field-values:after {
    clear: both;
}
.hierarchy-field .hierarchy-field-label {
    display: inline-block;
    font-style: italic;
    margin-right: 5px;
    min-width: 70px;
}
.hierarchy-field .hierarchy-field-value {
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-sizing: border-box;
    outline: 0;
    padding: 5px 20px 0 5px;
    margin-right: 5px;
}
.hierarchy-field .hierarchy-field-values .active {
    border: 1px solid rgb(63,81,181);
}
.hierarchy-field .hierarchy-field-value .hierarchy-field-value-delete {
    color: #e6e6e6;
    cursor: pointer;
    display: inline-block;
    padding: 3px 5px;
    position: absolute;
    right: 0;
    top: 1px;
}
.hierarchy-field .hierarchy-field-value .hierarchy-field-value-delete:hover {
    color: #c0392b;
}
.hierarchy-field .hierarchy-field-values-wrapper .hierarchy-field-value-new {
    color: #e6e6e6;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    right: 0;
    top: 7px;
}
.hierarchy-field .hierarchy-field-values-wrapper .hierarchy-field-value-new:hover {
    color: #6aa847;
}
.hierarchy-field .radio-wrap {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    color: #4b4b4b;
    cursor: default;
    outline: 0;
    padding: 0;
    display: block;
    float: none;
}
.hierarchy-field .radio-wrap:after {
    clear: both;
}
.hierarchy-field .radio-wrap .radio {
    margin: 10px 25px 10px 10px;
}
.hierarchy-field .radio-wrap .radio input {
    margin-right: 5px;
}
.hierarchy-field .radio-wrap .radio label {
    cursor: pointer;
    float: none;
    font-weight: 400;
    width: auto;
}
.hierarchy-field .radio-wrap .radio-delete {
    margin: 10px;
    position: absolute;
    right: 0;
    top: -4px;
    color: #e6e6e6;
    cursor: pointer;
    font-size: 1.1em;
}
.Select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.Select-control {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    cursor: default;
    outline: 0;
    min-width: 300px;
    padding: 8px 52px 8px 10px;
}
.Select-placeholder {
    padding: 8px 40px 8px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Select-value {
    color: #aaa;
    padding: 8px 52px 8px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: -15px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.has-value>.Select-control>.Select-value {
    color: #4b4b4b
}
.Select-clear {
    color: #e6e6e6;
    cursor: pointer;
    display: inline-block;
    padding: 3px 10px;
    position: absolute;
    right: 17px;
    top: 3px
}
.Select-clear:hover {
    color: #c0392b
}
.Select-arrow-zone {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    cursor: pointer;
}
.Select-arrow {
    border-color: #e6e6e6 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5px);
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
    cursor: pointer;
}
.Select-input>input {
    cursor: default;
    background: none transparent;
    box-shadow: none;
    height: auto;
    border: 0 none;
    margin: 0;
    padding: 0;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none;
}
.Select-menu-outer {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-top-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}
.Select-menu {
    max-height: 198px;
    overflow-y: auto;
}
.Select-option {
    box-sizing: border-box;
    color: #4b4b4b;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}
.Select-option.is-focused {
    background-color: #4183c4;
    color: #4b4b4b;
}
.Select-option.is-disabled {
    color: #e6e6e6;
    cursor: not-allowed;
}
.Select-noresults,
.Select-search-prompt,
.Select-searching {
    box-sizing: border-box;
    color: #e6e6e6;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
.Select.is-multi .Select-control {
    padding: 2px 52px 2px 3px;
}
.Select.is-multi .Select-input {
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 2px;
    padding: 3px 0;
}
.Select-item {
    background-color: #f2f9fc;
    border-radius: 2px;
    border: 1px solid #c9e6f2;
    color: #08c;
    display: inline-block!important;
    margin: 2px!important;
}
.Select-item-icon,
.Select-item-label {
    display: inline-block;
    vertical-align: middle;
}
.Select-item-label {
    cursor: default;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 1px 5px 2px 5px;
}
.Select-item-label .Select-item-label__a {
    color: #08c;
    cursor: pointer;
}
.Select-item-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c9e6f2;
    padding: 1px 5px 2px 5px;
}
.Select-item-icon:hover,
.Select-item-icon:focus {
    background-color: #ddeff7;
    color: #0077b3;
}
.Select-item-icon:active {
    background-color: #c9e6f2
}
.Select.is-multi.is-disabled .Select-item {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    color: #888;
}
.Select.is-multi.is-disabled .Select-item-icon {
    cursor: not-allowed;
    border-right: 1px solid #d9d9d9;
}
.Select.is-multi.is-disabled .Select-item-icon:hover,
.Select.is-multi.is-disabled .Select-item-icon:focus,
.Select.is-multi.is-disabled .Select-item-icon:active {
    background-color: #f2f2f2;
}
.bread-crumbs-wrapper {
    position: relative;
    min-height: 60px;
}
.bread-crumbs {
    position: absolute;
    top: 5px;
    left: 0;
    max-width: none;
    width: 1000px;
}
.bread-crumbs ul {
    display: inline-block;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    width: auto;
}
.bread-crumbs ul li.visible {
    max-width: 500px;
}
.bread-crumbs ul li:first-child {
    padding-left: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bread-crumbs ul li:last-child {
    padding-right: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bread-crumbs ul li {
    text-decoration: none;
    outline: 0;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 25px;
    padding: 0 15px 0 25px;
    position: relative;
    background: #fff;
    color: #4b4b4b;
    transition: max-width .5s;
    max-width: 10px;
    white-space: nowrap;
    clear: none;
    border: none;
    margin: 0;
}
.bread-crumbs ul li.active, .bread-crumbs ul li:hover {
    background: #4183c4;
    color: #fff;
    max-width: 500px;
}
.bread-crumbs ul li:after {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 25px;
    height: 25px;
    transform: scale(.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 1px rgba(0,0,0,.4),2px -2px 0 1px rgba(255,255,255,.1);
    border-radius: 0 5px 0 50px;
    background: #fff;
    color: #4b4b4b;
    visibility: visible;
}

#panel_comments .comments_wrapper {
    width: 100%;
}
#panel_comments .comment-body form {
    display: flex;
    flex-wrap: wrap;
}
#panel_comments .mdl-card__supporting-text {
    box-sizing: border-box;
    width: 100%;
}
#panel_comments .mdl-card__supporting-text > .comment {
    margin-bottom: 15px;
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
}
#panel_comments .mdl-card__supporting-text > .comment:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}
#panel_comments .comment {

}
#panel_comments .comment .submit {
    margin: 0;
}
#panel_comments .comment .comment-body {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
#panel_comments .comment .comment-body > * {
    padding-bottom: 10px;
}
#panel_comments .comment .comment-body .comment-text {
    flex: 1 auto;
    font-size: 18px;
    margin-top: 5px;
}
#panel_comments .comment .comment-body .comment-text.commentEditable {
    cursor: text;
}
#panel_comments .comment .comment-body .comment-time {
    font-size: 12px;
}
#panel_comments .comment .comment-body .comment-time time.modified {
    padding-left: 5px;
}
#panel_comments .comment .comment-body .comment-time,
#panel_comments .comment .comment-body .comment-actions {
    flex: 1 100%;
}
#panel_comments .comment .comment-body .comment-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}
#panel_comments .comment .comment-body .comment-avatar .user-avatar-wrapper {
    max-width: 48px;
}
#panel_comments .comment .comment-body .comment-avatar .user-avatar-wrapper > * {
    max-width: inherit;
    height: auto;
}
#panel_comments .commentsFormHolder.mdl-card__actions .comment-fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#panel_comments .commentsFormHolder.mdl-card__actions .comment-fields .user-avatar-wrapper {
    padding-right: 5px;
    padding-bottom: 5px;
}
#panel_comments .commentsFormHolder.mdl-card__actions .comment-fields #comment-submit {
    flex: 1 100%;
    padding-top: 10px;
}
#panel_comments .commentsFormHolder.mdl-card__actions .mdl-textfield {
    width: auto;
    min-width: 300px;
}
#panel_comments .commentsFormHolder.mdl-card__actions .mdl-textfield textarea {
    resize: both;
}
#panel_comments .commentsFormHolder.mdl-card__actions .mdl-textfield label {

}
