{% load i18n cache messages compress %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% themeinclude "includes/header.html" %}

    {% block extra_script %}{% endblock %}

    <title>{% if SITE_NAME %}{{ SITE_NAME }}:{% endif %} {% block title %}{% endblock title %}</title>

    {% block head %}{% endblock %}
</head>

<body class="{% block bodyclass %}base{% endblock %}" id="body">
    {% block navigation %}
        <header class="mdl-layout__header">
            {% themeinclude 'includes/navigation.html' %}

            {% block heading %}
                {% themeinclude "search/search_results_form.html" %}
            {% endblock heading %}
        </header>
    {% endblock navigation %}

    {% block theme %}
        {% block drawer %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}
    {% endblock theme %}

    <!--<div id="loading-icon" class="loading-icon" style="display:none;"><img src="{{ STATIC_URL }}img/loading.gif"><h2>{% trans "Loading" %}</h2></div>-->

    <div class="mediabin-tab" id="mediabin-tab-show">
        <div class="ntfwrap">
            <button id="mediabin-tab-show" class="mediabin-tab mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <div id="ntfcnttxt" class="ntfcnttxt">{{ user.mediabin_set.count }}</div>
            </button>
        </div>
    </div>

    <div id="mediabin" class="mediabin mediabin-collapsed" style="display:none">
        <div class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <nav class="mdl-navigation">
                    <span id="mediabin-sort-by" class="mdl-navigation__link">{% trans "Sort by" %}</span>
                    <div id="mediabin_sort_menu" class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="mediabin-sort-by">
                        <a class="mdl-menu__item" href="" id="cntmo_prtl_mediabin_srt_date">{% trans "Date added" %}</a>

                        <a class="mdl-menu__item" href="" id="cntmo_prtl_mediabin_srt_name">{% trans "Name" %}</a>
                    </div>

                    <span id="mediabincount" class="mdl-navigation__link"></span>
                    <div id="mediabin_cntx_menu" class="mediabin_cntx_menu mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="mediabincount">
                        <a class="mdl-menu__item" href="{% url vs_collection_add_form %}" id="cntmo_prtl_mediabin_clct_lnk">{% trans "Add to Collection" %}</a>

                        <a class="mdl-menu__item" href="{% url vs_items_export %}" id="cntmo_prtl_mediabin_export_lnk">{% trans "Export" %}</a>

                        <a class="mdl-menu__item" href="" id="cntmo_prtl_mediabin_rmv_lnk">{% trans "Remove All from Bin" %}</a>

                        <a class="mdl-menu__item" href="" id="cntmo_prtl_mediabin_unselect_lnk">{% trans "Unselect" %}</a>

                        {% permissionrequired _item_shape_write  %}
                            <a class="mdl-menu__item" href="" id="cntmo_prtl_mediabin_dlt_lnk">{% trans "Delete" %}</a>
                        {% endpermissionrequired %}

                        {% pluginblock "MediaBinDropdown" collection core %}
                    </div>

                    <div class="mediabin-tab" id="mediabin-tab-hide"></div>
                </nav>
            </div>
        </div>

        <div id="mediabinholder">
            <div class="viewport">
                <div class="mediabinitems overview">
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script type="text/javascript" charset="utf-8">
    {% if REALTIME_ENABLED %}
    cn = hookbox.connect('{{ REALTIME_SERVER }}');
    var ntfcnt = 0;
    cn.onOpen = function() { }
    cn.onError = function(err) { }
    var notifications = [];
    cn.onSubscribed = function(channelName, _sub) {
        _sub.onPublish  = function(args) {
            if (args.channel_name=="/users/{{user}}") {
                $("#ntfcnt").removeClass("inboxempty").addClass("inboxpop");
                $("#ntfcnttxt").html(ntfcnt+1);
                if (notifications.length > 8) { a = notifications.shift(); }
                notifications.push(args.payload);
                ntfcnt += 1;
            }
        }
    }
    $("#ntfcnt").click(function(){
        if (ntfcnt > 0) {
            $(this).addClass('ntfcnt-active');
            $(this).after('<div id="ntfdd" style"position: absolute;float:left;"><h5>{% trans "Notifications" %}: '+notifications.length+' {% trans "of" %} '+ ntfcnt +'</h5></div>');
            //$("#ntfdd").css( { "left": (pos.left + width) + "px", "top":pos.top + "px" } );
            $.each(notifications, function(index, value){
                if (value.currentStepStatus == 'FINISHED') {
                    jbState='Finished';
                } else if (value.currentStepStatus == 'FAILED_TOTAL'){
                    jbState='Failed';
                } else {
                    jbState = value.currentStepStatus;
                }

                $('#ntfdd').append('<a href="/vs/job/'+ value.jobId +'/"><div class="ntfel ntfel-'+ value.currentStepStatus +'">'+value.type+' '+ value.jobId +' '+ jbState +'</div></a>')
            })

            if (ntfcnt > notifications.length){
                $('#ntfdd').append('<div class="ntfel">{% trans "View more" %}</div>');
            }

            $(document).click(function(e) {
            	if ($(e.target).is('#ntfdd,#ntfdd, #ntfcnt, #ntfcnt *')){
            	    return false;
            	} else {
            	    $('#ntfdd').fadeOut();
            	    $(document).unbind("click");
            	    $("#ntfcnt").removeClass('ntfcnt-active');
            	    $("#ntfcnttxt").html("");
            	}
            });
        }
    });
    {% endif %}

$(document).ready(function() {
    $('#searchtext').autocomplete({
        source: '{% url api_v2:search:suggest %}',
    });
});

{% render_growl_messages messages %}
</script>

<script type="text/template" id="cntmo_prtl_mediabin_cnt_tmpl">
     <span class="count">
      <span class="number"><%= selected_count %></span>
     <%= selected_count == 1 ? '{% trans "item" %}' : '{% trans "items" %}' %>
      </span>
</script>

<script type="text/template" id="cntmo_prtl_mediabin-pod-tmpl">
<% if (thumbnail_uri) { %>
    <div class="media-pod-wrap" style="background-image: url(<%= thumbnail_uri %>)">
<% } else { %>
    <div class="media-pod-wrap" style="background-image: url({{ STATIC_URL }}img/collection_group.png)">
<% } %>
        <i id="remove-pod-<%= resource_id %>" class="cntmo_prtl_mediabin-pod-rmv material-icons pod-action">close</i>
        <!--<div class="mdl-tooltip" for="remove-pod-<%= resource_id %>">Remove from bin</div>-->

        <a href="<%= absolute_url %>" id="view-pod-<%= resource_id %>" class="cntmo_prtl_mediabin-pod-view material-icons pod-action">visibility</a>
        <!--<div class="mdl-tooltip" for="view-pod-<%= resource_id %>">View item</div>-->

        <div class="mediaitemtitle"><%= resource_name %></div>
    </div>
</script>

{% block inlinejs %}{% endblock inlinejs %}

{% pluginblock "BaseJS" core %}
