{% themeextends "base.html" %}
{% block title %}{% endblock %}
{% block theme %} 
{% block navigation %}{% themeinclude 'includes/navigation.html' %}{% endblock %}
<div class="container-fluid">
    <div id="main" class="mainbody">
    {% block body %}
        <div class="headerwrapper">
            {% block heading %}{% endblock heading %}
        </div>
        <div id="content" class="content">
            {% block content %}
            {% endblock content %}
        </div>
    {% endblock body %}
    </div>
</div>
{% block footer %}{% themeinclude 'includes/footer.html' %}{% endblock %}
{% endblock %}
