{% themeextends "users/base_user.html" %}
{% load i18n %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block heading %}{% trans 'Change Password' %}{% endblock heading %}
{% block content %}
<div class="itemcontent">
    <form action="." method="post" class="formmain">{% csrf_token %}
        <fieldset>
            <ul>
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <li {% if field.errors %}class="error"{% endif %}>
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}<p>{% for error in field.errors %}{{ error }}{% endfor %}</p>{% endif %}
                            {% if field.help_text %}
                                <p class="help" style="display:inline;"><em>{{ field.field.help_text|safe }}</em></p>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="mono"><input type="submit" value="{% trans "Update" %}" class="button" /></li>
            </ul>
        </fieldset>
    </form>
</div><!-- .itemcontent -->
{% endblock content %}
{% docstring %}
This is for the user's password change.

Context
-------
form = the main form for the password.
user = this user

Plugins
-------

{% enddocstring %}
