{% themeextends "users/vs_base_users.html" %}
{% load i18n %}
{% block title %}{% trans "All Users" %}{% endblock title %}
{% block heading %}{% trans 'Users' %}{% endblock heading %}
{% block content %}
    <div class="itemcontent">
    {% if vsusers %}
		<form action="{% url vs_user_delete %}">
		    <div class="table-menu">
                <a href="{% url vs_user_add %}"><button type="button" class="button button-add" onclick="window.location=this.parentNode.href;">{% trans "Add" %}</button></a>
                <a href="#" onclick="$(this).closest('form').submit();"><button
                        type="button" class="button button-delete"
                        onclick="window.location=this.parentNode.href;">{% trans "Deactivate" %}</button></a>
            </div>
	        <div style="float:left;">
		        {% ifequal request.GET.show_disabled "True" %}
		        <a href="{% url vs_users_all %}"><button type="button"
                        class="button button-disabled"
                        onclick="window.location=this.parentNode.href;">{% trans "Hide Deactivated" %}</button></a>
		        {% else %}
		        <a href="{% url vs_users_all %}?show_disabled=True"><button
                        type="button" class="button button-disabled"
                        onclick="window.location=this.parentNode.href;">{% trans "View Deactivated" %}</button></a>
		        {% endifequal %}
		    </div>

            <table class="generictbl" id="usertable" >
                <thead>
                <tr>
                    <th><a href="#">{% trans 'Username' %}</a></th>
                    <th><a href="#">{% trans 'Real Name' %}</a></th>
                    <th><a href="#">{% trans 'Email' %}</a></th>
                    <th><a href="#">{% trans 'Last Login' %}</a></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
            {% for user in vsusers  %}
                <tr{% if forloop.counter|divisibleby:"2"  %} class="even"{% endif %}>
                    <td><a href="{% url vs_user_view user.getUserName %}" style="{% if user.isDisabled %}color:lightgrey;{% endif %}">{{ user.getUserName }}</a></td>
                    <td>{{ user.getRealName }}</td>
                    <td>{% if user.django_object %}{{ user.django_object.email }}{% endif %}</td>
                    <td>{% if user.django_object %}{{ user.django_object.last_login }}{% endif %}</td>
                	<td class="selectcheckbox">{% if user.getUserName != "admin" %}<input type="checkbox" value="{{ user.getUserName }}" name="selected_objects" />{% endif %}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <div class="table-menu">
                <a href="{% url vs_user_add %}"><button type="button" class="button button-add" onclick="window.location=this.parentNode.href;">{% trans "Add" %}</button></a>
                <a href="#" onclick="$(this).closest('form').submit();"><button
                        type="button" class="button button-delete"
                        onclick="window.location=this.parentNode.href;">{% trans "Deactivate" %}</button></a>
            </div>
		</form>

        {% else %}
            <div class="noticemessage">
                <p>{% trans 'No results found' %}.</p>
            </div>
        {% endif %}
    </div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#usertable').tablerowcheckbox().dataTable({
	    "bLengthChange": false,
	    "aaSorting": [[ 0, "asc" ]],
        "aoColumns": [ null,null,null, {stype: 'date'}, { "bSortable": false }],
        "iDisplayLength": parseInt('{{ user.get_profile.paginate_by|default:"50" }}', 10),
        "oLanguage": {"sSearch": ""},
        "sDom": '<"top"ifpl>rt<"bottom"><"clear">',
        "oLanguage": {
            "sSearch": "",
            "sInfo": '{% trans "Showing" %} _START_ {% trans "to" %} _END_ {% trans "of" %} _TOTAL_ {% trans "users" %}'}
	});
});
</script>

{% endblock content %}
