{% themeextends "users/vs_base_users.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}: {{ userinfo.userName }}{% endblock title %}
{% block heading %}<a href="{% url vs_users_all %}">{% trans 'Users' %}:</a> 
{% if userinfo %}
<a href="{% url vs_user_view userinfo.userName %}">{{ userinfo.userName }}:</a> {% trans 'Change Password' %}
{% else %}
You should log out now and log back in
{% endif %}
{% endblock heading %}{% block content %}
<form action="" method="post" accept-charset="utf-8" class="formmain">
    {% csrf_token %}
    <fieldset>
    <ul>
        <li>
            <label for="id_password1">{% trans 'Password' %}:</label>
            <input type="password" name="password1" id="id_password1" class="inputText" /></li>
        <li>
            <label for="id_password2">{% trans 'Repeat Password' %}:</label>
            <input type="password" name="password2" id="id_password2" class="inputText" />
        </li>
        <li class="mono"><input type="submit" value="{% trans 'Change Password' %}" class="submit button" /></li>
	    <input type="hidden" name="post_redirect" value="{{ request.META.HTTP_REFERER }}" />
    </ul>
    </fieldset>
</form>
{% endblock content %}
