{% themeextends "users/vs_base_users.html" %}
{% load i18n %}
{% block title %}{% trans "Add User" %}{% endblock title %}
{% block extra_script %}
<script type="text/javascript" src="{{ STATIC_URL }}js/app/users/users.js"></script>
{% endblock extra_script %}
{% block heading %}<a href="{% url vs_users_all %}">{% trans 'Users' %}</a>: {%trans 'New'%} {{shapetype}}{% endblock heading %}
{% block content %}
<form action="{% url vs_user_add %}" method="post" accept-charset="utf-8" class="formmain">{% csrf_token %}
    <fieldset>
        <h5>{% trans 'Please fill in all the fields' %}</h5>
        <ul>
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <li {% if field.errors %}class="error"{% endif %}>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}<p>{% for error in field.errors %}{{ error }}{% endfor %}</p>{% endif %}
                        <div class="mono">{{ field.help_text }}</div>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="{% if userform.first_name.errors %}error {% endif %}{% if userform.first_name.field.required %}required{% endif %}">
                {{ userform.first_name.label_tag }}
                {{ userform.first_name }}
                {{ userform.first_name.help_text }}
                {% if userform.first_name.errors %}<p>{% for error in userform.first_name.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if userform.last_name.errors %}error {% endif %}{% if userform.last_name.field.required %}required{% endif %}">
                {{ userform.last_name.label_tag }}
                {{ userform.last_name }}
                {% if userform.last_name.errors %}<p>{% for error in userform.last_name.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if userform.email.errors %}error {% endif %}{% if userform.email.field.required %}required{% endif %}">
                {{ userform.email.label_tag }}
                {{ userform.email }}
                {% if userform.email.errors %}<p>{% for error in userform.email.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if userform.is_staff.errors %}error {% endif %}{% if userform.is_staff.field.required %}required{% endif %}">
                {{ userform.is_staff.label_tag }}
                {{ userform.is_staff }}
                {% if userform.is_staff.errors %}<p>{% for error in userform.is_staff.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if userform.is_superuser.errors %}error {% endif %}{% if userform.is_superuser.field.required %}required{% endif %}">
                {{ userform.is_superuser.label_tag }}
                {{ userform.is_superuser }}
                {% if userform.is_superuser.errors %}<p>{% for error in userform.is_superuser.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
	    </ul>
        <div class="selectmultipleholder">
            <select multiple="multiple" id="grpmultiselect" class="selectfilter" name="groups">
                {% for g in vsgroups %}<option value="{{ g.getName }}">{{ g.getName }}</option>{% endfor %}
            </select>
        </div>
        {% if upform %}
        <ul>
            <li class="{% if upform.default_group.errors %}error {% endif %}{% if upform.default_group.field.required %}required{% endif %}">{{ upform.default_group.label_tag }} {{ upform.default_group }}
                {% if upform.default_group.errors %}<p>{% for error in upform.default_group.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.default_ingest_group.errors %}error {% endif %}{% if upform.default_ingest_group.field.required %}required{% endif %}">{{ upform.default_ingest_group.label_tag }} {{ upform.default_ingest_group }}
                {% if upform.default_ingest_group.errors %}<p>{% for error in upform.default_ingest_group.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.default_metadata_group.errors %}error {% endif %}{% if upform.default_metadata_group.field.required %}required{% endif %}">{{ upform.default_metadata_group.label_tag }} {{ upform.default_metadata_group }}
                {% if upform.default_metadata_group.errors %}<p>{% for error in upform.default_metadata_group.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.homepage.errors %}error {% endif %}{% if upform.homepage.field.required %}required{% endif %}">{{ upform.homepage.label_tag }} {{ upform.homepage }}
                {% if upform.homepage.errors %}<p>{% for error in upform.homepage.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.theme.errors %}error {% endif %}{% if upform.theme.field.required %}required{% endif %}">{{ upform.theme.label_tag }} {{ upform.theme }}
                {% if upform.theme.errors %}<p>{% for error in upform.theme.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.contact_number.errors %}error {% endif %}{% if upform.contact_number.field.required %}required{% endif %}">{{ upform.contact_number.label_tag }} {{ upform.contact_number }}
                {% if upform.contact_number.errors %}<p>{% for error in upform.contact_number.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.paginate_by.errors %}error {% endif %}{% if upform.paginate_by.field.required %}required{% endif %}">{{ upform.paginate_by.label_tag }} {{ upform.paginate_by }}
                {% if upform.paginate_by.errors %}<p>{% for error in upform.paginate_by.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>
            <li class="{% if upform.notes.errors %}error {% endif %}{% if upform.notes.field.required %}required{% endif %}">{{ upform.notes.label_tag }} {{ upform.notes }}
                {% if upform.notes.errors %}<p>{% for error in upform.notes.errors %}{{ error }}{% endfor %}</p>{% endif %}
            </li>


        <input type="hidden" value="" name="uspr-organisation">

        {% endif %}
	    <ul>
            <li class="mono">
        	<input type="submit" value="{% trans "Save" %}" id="submit" class="button" />
            <input type="submit" value="{% trans 'Save and add another' %}" name="submitaddanother" class="button buttonAddAnother" onClick="this.value='{% trans "Please wait" %}...';">
            </li>
        </ul>
    </fieldset>
</form>
{% endblock content %}
{% block inlinejs %}
<script type="text/javascript" charset="utf-8">
jQuery.each($("select[multiple]"), function () {
 SelectFilter.init(this.id, String("{% trans 'user groups' %}"), 0, "{{ STATIC_URL }}");
});
group_metadataURL = String('{% url vs_groups_info %}');
$("#id_uspr-default_metadata_group").html('');
$(document).ready(function() {
    $.validator.addClassRules({
         pattern: {
             pattern:true
         }
    });
});
</script>
{% endblock inlinejs %}
