{% themeextends "admin/vs_base.html" %}
{% load i18n %}
{% block title %}{% trans "Confirm Delete" %}{% endblock title %}
{% block heading %}
{% endblock heading %}
{% block content %}

<div class="pagecontent deletepage" style="z-index:3;">
    <div class="circle">
        <div class="innercircle">!</div>
    </div>
    <div class="rightcolumn">
        <h1>{% trans "Are you sure you want to change the admin password?" %}</h1>

        <form action="{% url vs_user_password_change userinfo.userName %}" method="get">
            <legend>{% trans "You will HAVE TO change the following for the system to work" %}:</legend>
            <ul>
                 <li><h3> {% trans "Restart this Portal system." %}</h3></li>
            </ul>
            <p>{% trans "Failure to do so will result in an inoperative system." %}</p>
            <div>
                <input type="hidden" name="admin_confirmed" value="yes" />
                <input type="cancel" value="{% trans "No, take me back" %}" class="button" onclick="javascript:history.go(-1);" />
                <input type="submit" value="{% trans "I understand the risks" %}" class="button" />
            </div>
            {% pluginblock "confirm_delete_form" core %}
        </form>
    </div>
</div>

{% endblock %}
{% blocktrans with var1 as var2 %}
    {{ var2 }}
{% endblocktrans %}
{% block inlinejs %}
<script type="text/javascript">
    $(document).ready(function() {
       $('#mediabin-tab-show, #mediabin').hide();
       $('#topnav, #nav, #header').fadeTo(3000,0.2);
       $('#nav li').hide();
    });
</script>
{% endblock inlinejs %}
{% docstring %}
vs_warn_admin_password_change.html:
    Warn the user that they are about to change the password of the admin user which can potentially result in an inoperative system.

Context
-------

**user_name**
    The username of the admin user

Plugins
-------

pluginblock
    confirm_delete_form core - Use for adding extra data into the confirm delete form.

{% enddocstring %}
