{% themeextends "base_error.html" %}
{% load i18n %}
{% block heading %}404 - {% trans 'Not found' %}{% endblock heading %}
{% block content %}
{{ searcherror }}
{% if error %}
<div class="errormessage" style="width:40em;">
    <p>{{error}}</p>
</div>
{% endif %}
{% pluginblock "404template" core %}    
{% endblock content %}
{% docstring %}
This template is for showing 404, page not found errors for HTTP Requests where we don't have a matching page.
    
Context
-------
**error**
    An error message
**searcherror**
    Shown when there has been a search error.
    
Plugins
-------

pluginblock
    404template core
    
{% enddocstring %}