{% load i18n %}
<div class="form-group" id="crit_{{name}}_dd">
    <img src="/sitemedia/img/icon-minus-circle-frame.png" id="remove{{name}}critrow"  class="removeCriteria"/>
    <label for="crit_date" class="control-label col-sm-3" >
        {% trans 'Creation date is' %}
    </label>
    <div class="col-sm-8 form-inline">
        
        <select id="crit_date"  name="crit_date"  class="form-control" style="width: 200px;">
            {% if searchcriteria.crit_date %}
            <option value="withinlast" {% if searchcriteria.crit_date == "withinlast" %}selected="selected"{%endif%}>{% trans 'within last' %}</option>
            <option value="olderthan" {% if searchcriteria.crit_date == "olderthan" %}selected="selected"{%endif%}>{% trans 'older than' %}</option>
            <option value="before" {% if searchcriteria.crit_date == "before" %}selected="selected"{%endif%}>{% trans 'before' %}</option>
            <option value="after" {% if searchcriteria.crit_date == "after" %}selected="selected"{%endif%}>{% trans 'after' %}</option>
            <option value="between" {% if searchcriteria.crit_date == "between" %}selected="selected"{%endif%}>{% trans 'between' %}</option>
            {% else %}
            <option value="withinlast">{% trans 'within last' %}</option>
            <option value="olderthan">{% trans 'older than' %}</option>
            <!-- <option value="exactly">{% trans 'exactly' %}</option> -->
            <option value="before">{% trans 'before' %}</option>
            <option value="after">{% trans 'after' %}</option>
            <option value="between">{% trans 'between' %}</option>
            <!-- <option value="today">{% trans 'today' %}</option> -->
            <!-- <option value="yesterday">{% trans 'yesterday' %}</option> -->
            <!-- <option value="thisweek">{% trans 'this week' %}</option>      -->                           
            <!-- <option value="thismonth">{% trans 'this month' %}</option> -->
            <!-- <option value="thisyear">{% trans 'this year' %}</option> -->
            {% endif %}
        </select>

        {% if searchcriteria.crit_datenumberof %}
        <input type="number" min="0" name="crit_datenumberof" value="{{ searchcriteria.crit_datenumberof }}" id="crit_datenumberof" class="form-control" style="width: 100px"/>
        {% else %}
        <input type="number" min="0" name="crit_datenumberof" value="0" id="crit_datenumberof" class="form-control"  style="width: 100px"/>
        {% endif %}

        <select id="crit_dateunit" class="form-control" name="crit_dateunit">
            {% if searchcriteria.crit_dateunit %}
            <option value="days" {% if searchcriteria.crit_dateunit == "days" %}selected="selected"{%endif%}>{% trans 'days' %}</option>
            <option value="weeks" {% if searchcriteria.crit_dateunit == "weeks" %}selected="selected"{%endif%}>{% trans 'weeks' %}</option>
            <option value="months" {% if searchcriteria.crit_dateunit == "months" %}selected="selected"{%endif%}>{% trans 'months' %}</option>
            <option value="years" {% if searchcriteria.crit_dateunit == "years" %}selected="selected"{%endif%}>{% trans 'years' %}</option>
            {% else %}
            <option value="days">{% trans 'days' %}</option>
            <option value="weeks">{% trans 'weeks' %}</option>
            <option value="months">{% trans 'months' %}</option>
            <option value="years">{% trans 'years' %}</option>
            {% endif %}
        </select>

        {% if searchcriteria.crit_datepicker1 %}
        <input type="text" id="crit_datepicker1" name="crit_datepicker1" value="{{searchcriteria.crit_datepicker1}}" style="width:8em;" class=" form-control sdate" />
        {% else %}
        <input type="text" id="crit_datepicker1" name="crit_datepicker1" value="" class="form-control sdate" style="width: 8em" />
        {% endif %}
        {% if searchcriteria.crit_datepicker2 %}
        <span id="crit_betweendatesand">{% trans 'and' %}</span>
        <input type="text" id="crit_datepicker2" name="crit_datepicker2" value="{{searchcriteria.crit_datepicker2}}" class="form-control sdate" style="width: 8em" />
        {% else %}
        <span id="crit_betweendatesand" style="display:none;" >{% trans 'and' %}</span>
        <input type="text" id="crit_datepicker2" name="crit_datepicker2" value="" class="form-control sdate" style="width: 8em" />
        {% endif %}

        <!-- End Created -->
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#crit_date').attr('selectedIndex', 0);
        $('#crit_date').change(function(){
            critDateChooserChange(this);
        }).change();

        $(".sdate").dateinput({yearRange: [-100, 100], selectors: true, lang: languageCode, trigger: false, format: SHORT_DATE_FORMAT, max: +1})

        // use the same callback for two different events. possible with bind
        $(".sdate").bind("onShow onHide", function () {
            $(this).parent().toggleClass("active");
        });


        // when first date input is changed
        $(".date:first").data("dateinput").change(function () {
            // we use it's value for the seconds input min option
            $(".date:last").data("dateinput").setMin(this.getValue(), true);
        });

        $('#remove{{name}}critrow').click(function () {
            $("#crit_{{name}}_dd").remove();
            $("#crit_mainchooser").append("<option value='created'>{% trans 'Creation Date' %}</option>");
        });

        var selValue = $("#crit_date").val();

        if (selValue == "between" || selValue == "before" || selValue == "after") {
            $("#crit_dateunit").toggle(false);
            $("#crit_datenumberof").toggle(false);
        }
        
        $()
    });

    function toggleAllDateOff() {
        var fields = ["crit_datenumberof", "crit_dateunit", "crit_datepicker1", "crit_betweendatesand", "crit_datepicker2"];
        for (var i = 0; i < fields.length; i++) {
            $('#' + fields[i]).toggle(false).val("").removeAttr("required");
        }
    }

    function critDateChooserChange(dropdown) {
        var myindex = dropdown.selectedIndex;
        var selValue = dropdown.options[myindex].value;

        if (selValue == "withinlast" || selValue == "olderthan") {
            toggleAllDateOff();
            $('#crit_datenumberof').toggle(true).attr("required", "true");
            $('#crit_dateunit').toggle(true).attr("required", "true");
        }
        else if (selValue == "between") {
            toggleAllDateOff();
            $('#crit_datepicker1').toggle(true).attr("required", "true");
            $('#crit_betweendatesand').toggle(true).attr("required", "true");
            $('#crit_datepicker2').toggle(true).attr("required", "true");
        }

        else if (selValue == "exactly" || selValue == "before" || selValue == "after") {
            toggleAllDateOff();
            $('#crit_datepicker1').toggle(true).attr("required", "true");
        }
        else {
            toggleAllDateOff();
        }

        return true;
    }
    
    

</script>
