{% load i18n %}
<div class="form-group" id="crit_{{name}}_dd">
    <img src="/sitemedia/img/icon-minus-circle-frame.png" id="remove{{name}}critrow"  class="removeCriteria"/>
    <label for="crit_widthsize" class="control-label col-sm-3" >
        {% trans 'Width is' %}
    </label>
    <div class="col-sm-8 form-inline">    
    
    <select id="crit_widthsize" class="form-control" name="crit_heightsize">
    {% if searchcriteria.crit_heightsize %}
        <option value="exactly" {% if searchcriteria.crit_widthsize == "exactly" %}selected="selected"{%endif%}>{% trans 'exactly' %}</option>
        <option value="morethan" {% if searchcriteria.crit_widthsize == "morethan" %}selected="selected"{%endif%}>{% trans 'more than' %}</option>
        <option value="lessthan" {% if searchcriteria.crit_widthsize == "lessthan" %}selected="selected"{%endif%}>{% trans 'less than' %}</option>
    {% else %}
        <option value="exactly">{% trans 'exactly' %}</option>
        <option value="morethan">{% trans 'more than' %}</option>
        <option value="lessthan">{% trans 'less than' %}</option>
    {% endif %}
    </select>
    <input type="number" min="0" name="crit_widthpixels" value="{% if searchcriteria.crit_heightpixels %}{{searchcriteria.crit_widthpixels}}{%endif%}" id="crit_widthpixels"  class="form-control" style="width:8em;" />
    {% trans 'pixels' %}</li>
    <!-- End Size -->
    
    </div>
</div>

<script type="text/javascript">
    $('#remove{{name}}critrow').click(function() {
        $("#crit_{{name}}_dd").remove();
        $("#crit_mainchooser").append("<option value='originalHeight'>{% trans 'Width' %}</option>");
    });
</script>
