#main-row{
  .cantemo-head-spacer{
    flex:1 1 auto;
    transition:all 0.2s;
  }

  &.search-active {

    .cantemo-head-spacer{
      flex:0 0 auto;
      transition:all 0.2s;
    }

    .cantemo-search-bar{
      flex:1 1 auto;
      background-color:white;
      transition:all 0.2s;
      
      ::-webkit-input-placeholder,
      :-input-placeholder{
        @include base-font;
        color:black;
      }

      input.cantemo-search-input{
        width:100%;
        color:black;
        
      }

      &:hover{
        background-color:white;
      }

      .cantemo-search-icon{
        color:black;
      }
    }
  }
  
  .cantemo-search-bar{
    position:relative;
    flex:0 0 auto;
    margin:6px 24px;
    border-radius: 2px;
    background-color:$primary-300;
    transition:all 0.2s;

    &:hover{
      background-color:$primary-200;
      transition:all 0.2s;
    }


    .cantemo-search-input-container{
      width:100%;
      display:flex;
    }

    input.cantemo-search-input{
      @include base-font;
      background: 0;
      border: 0;
      color: #fff;
      padding: 8px 8px 8px 72px;
      transition: all .2s;
      width: auto;
      &:focus{
        outline:none;
      }
    }
    
    ::-webkit-input-placeholder,
    :-input-placeholder{
      @include base-font;
      color:black;
    }

    .cantemo-search-icon {
      position:absolute;
      top:50%;
      left:20px;
      transform:-webkit-translateY(-50%);
      transform:-moz-translateY(-50%);
      transform:-ms-translateY(-50%);
      transform:-o-translateY(-50%);
      transform:translateY(-50%);
    }
  }


  #notifications{
    .cantemo-notifications-card-popup{
      background-color:$background-color-600;
      .cantemo-card-top{
        padding:20px;
        flex:1 1 auto;
        text-align:center;
        color:$background-color-600-alt;
        font-size: 0.9em;
      }
      &.triangle{
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $background-color-600;
      }
    }
  }

  #account{
    .cantemo-settings-card-popup{
      color:black;
      .navigation-account-img{
        display:inline-block;
      }
      .navigation-account-info{
        display:inline-block;
      }
    }
    
    .cantemo-settings-card-popup.triangle{
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
    } 
  }

  #notifications,
  #account{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    
    .cantemo-card-top{
      padding:20px;
      flex:1 1 auto;
      text-align:left;
      font-size: 0.9em;
    }

    .cantemo-nav-avatar{
      max-width: 40px;
      width:40px;
      max-height: 40px;
      height:40px;
    }

    .cantemo-nav-avatar-lg{
      max-width: 100px;
      max-height: 100px;  
    }

    .cantemo-notifications-card-popup,
    .cantemo-settings-card-popup {
      display:none;
      opacity:0;
      position: absolute;
      right: -10px;
      bottom: -8px;
      transform:-webkit-translateY(100%);
      transform:-moz-translateY(100%);
      transform:-ms-translateY(100%);
      transform:-o-translateY(100%);
      transform:translateY(100%);

      &.active-popup{
        opacity:1;
        display:block;
        transition: opacity 0.2s
      }

      &.triangle{
        position:absolute;
        background-color:transparent;
        top:100%;
        left:50%;
        transform:-webkit-translateX(-50%);
        transform:-moz-translateX(-50%);
        transform:-ms-translateX(-50%);
        transform:-o-translateX(-50%);
        transform:translateX(-50%);

        width: 0; 
        height: 0; 
      }
    }

    .mdl-card__actions{
      display:flex;
      background-color: $background-color-300;
    }
  }
}