{% themeextends theme %}
{% load i18n compress %}

{% block extra_script %}
    {% compress js inline %}
        <script type="text/javascript" src="{{ STATIC_URL }}mdl/assets/js/app/media/mediabox.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>

        <script type="text/javascript" charset="utf-8">
            var theme = '{{ theme }}';
            var url_delete_items = '{% url vs_items_delete %}';
        </script>
    {% endcompress %}
{% endblock extra_script %}

{% block theme %}
<!-- base_search.html theme start -->
<div id="main" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% block navigation %}
        <header class="mdl-layout__header">
            {% themeinclude 'includes/navigation.html' %}

            {% block heading %}
                {% themeinclude "search/search_results_form.html" %}
            {% endblock heading %}
        </header>
    {% endblock navigation %}

    {% block drawer %}{% endblock %}

    {% block body %}
    <!-- base_search.html body start -->
        <main class="mdl-layout__content">
            <div id="content" class="content searchcontent">
                {% block content %}{% endblock %}
            </div>
        </main>
    <!-- base_search.html body end -->
    {% endblock body %}

    {% block footer %}{% endblock %}

</div>
<!-- base_search.html theme end -->
{% endblock theme %}

{% block inlinejs %}
    {% themeinclude "search/search_results_footer.html" %}
{% endblock inlinejs %}

{% docstring %}
base_search.html is a container for search pages. The results pages have another template.

Context:
 * theme - Current theme for the user. Can be overridden to have "ajax.html".
{% enddocstring %}
