{% themeextends "search/base_search.html" %}
{% load i18n %}

{% block heading %}{% endblock %}

{% block content%}
<!-- search/search.html content start -->
	<p>will this display quickly?</p>
	{% themeinclude "search/search_component.html" %}
<!-- search/search.html content end -->
{% endblock content %}

{% docstring search.html %}
search.html - Basic search page for the site.

Context:
 * searchquery - The current search query if there has been one.
 * search_advanced - True or false on whether this is an advanced search query or not.

PluginBlock:
 * search_form_pluginblock - inject things in to the current search block.
 * search_form_afterinput_pluginblock - inject after the large input block.
 * search_form_afteradvanced_pluginblock - inject after the advanced search form if that is shown.

{% enddocstring %}
