{% load i18n %}
<div id="crit_{{name}}_dd">
    <!-- Start Audio Codec -->
    <div class="searchcritera">
      <ul>
        <li>
          <img src="/sitemedia/img/icon-minus-circle-frame.png" id="remove{{name}}critrow" style="float:right;" />
          <label for="crit_audiocodec">{% trans 'Audio Codec is' %}</label>
          
          <select name="crit_audiocodec" multiple="multiple">
            {% for ac in audiocodecs %}
              <option value="{{ ac }}" {% if ac in searchcriteria.crit_audiocodec %}selected="selected"{% endif %}>{{ ac }}</option>
            {% endfor %}
          </select>
        </li>
      </ul>
    </div>
    <!-- End Audio Codec -->
</div>

<script type="text/javascript">
    $('#remove{{name}}critrow').click(function() {
        $("#crit_{{name}}_dd").remove();
        $("#crit_mainchooser").append("<option value='originalAudioCodec'>{% trans 'Audio Codec' %}</option>");
    });
</script>
