{% load i18n %}
<div id="crit_originalheight_dd">
    <!-- Start Size -->
    <div class="searchcritera">
    <ul><li>
    <img src="/sitemedia/img/icon-minus-circle-frame.png" id="removeoriginalheightcritrow" style="float:right;" />
    <label for="crit_heightsize">{% trans 'Height is' %}</label>
    <select id="crit_heightsize" style="float:none;width:10em;" name="crit_heightsize">
    {% if searchcriteria.crit_heightsize %}
        <option value="exactly" {% if searchcriteria.crit_heightsize == "exactly" %}selected="selected"{%endif%}>{% trans 'exactly' %}</option>
        <option value="morethan" {% if searchcriteria.crit_heightsize == "morethan" %}selected="selected"{%endif%}>{% trans 'more than' %}</option>
        <option value="lessthan" {% if searchcriteria.crit_heightsize == "lessthan" %}selected="selected"{%endif%}>{% trans 'less than' %}</option>
    {% else %}
        <option value="exactly">{% trans 'exactly' %}</option>
        <option value="morethan">{% trans 'more than' %}</option>
        <option value="lessthan">{% trans 'less than' %}</option>
    {% endif %}
    </select>
    <input type="number" min="0" name="crit_heightpixels" value="{% if searchcriteria.crit_heightpixels %}{{searchcriteria.crit_heightpixels}}{%endif%}" id="crit_heightpixels" style="float:none;width:8em;" />
    {% trans 'pixels' %}</li>
    <!-- End Size -->
    </ul>
    </div>
</div>

<script type="text/javascript">
    $('#removeoriginalheightcritrow').click(function() {
        $("#crit_originalheight_dd").remove();
        $("#crit_mainchooser").append("<option value='originalHeight'>{% trans 'Height' %}</option>");
    });
</script>
