{% load i18n %}
<div id="crit_{{name}}_dd">
    <!-- Start Title -->
    <div class="searchcritera">
      <ul>
        <li>
        <img src="/sitemedia/img/icon-minus-circle-frame.png" id="remove{{name}}critrow" style="float:right;" />
        <label for="crit_title">{% trans 'Title contains' %}</label>
        <input type="text" style="float:none;" name="crit_title" id="crit_title" value="{% if searchcriteria.crit_title %}{{ searchcriteria.crit_title }}{%endif%}" /></li>
      </ul>
    </div>
    <!-- End Audio Codec -->
</div>

<script type="text/javascript">
    $('#remove{{name}}critrow').click(function() {
        $("#crit_{{name}}_dd").remove();
        $("#crit_mainchooser").append("<option value='title'>{% trans 'Title' %}</option>");
    });
</script>
