{% load i18n %}
<div id="crit_{{name}}_dd">
    <!-- Start Annotation -->
    <div class="searchcritera">
        <ul>
          <li>
            <img src="/sitemedia/img/icon-minus-circle-frame.png" id="remove{{name}}critrow" style="float:right;" />
            <label for="crit_annotationMetadata">{% trans 'Search only' %}</label>
            <div class="inline">
            <input type="radio" style="float:none;" name="crit_annotationMetadata" id="crit_annotationMetadata_generic" value="generic" {% if searchcriteria.crit_annotationMetadata|lower == "generic" %}checked{%endif%} class="infocheckbox"><label for="crit_annotationMetadata_generic">{% trans "Non-timed" %}</label>
            <input type="radio" style="float:none;" name="crit_annotationMetadata" id="crit_annotationMetadata_timed" value="timed" {% if searchcriteria.crit_annotationMetadata|lower == "timed" %}checked{%endif%}><label for="crit_annotationMetadata_timed">{% trans "Annotation timed metadata" %}</label>
            <input type="radio" style="float:none;" name="crit_annotationMetadata" id="crit_annotationMetadata_all" value="all" {% if searchcriteria.crit_annotationMetadata|lower == "all" %}checked{%endif%}><label for="crit_annotationMetadata_all">{% trans "Both" %}</label>
          </div>
          </li>
        </ul>
    </div>
    <!-- End Annotation -->
</div>

<script type="text/javascript">
    $('#remove{{name}}critrow').click(function() {
        $("#crit_{{name}}_dd").remove();
        $("#crit_mainchooser").append("<option value='annotationMetadata'>{% trans 'Annotation Metadata' %}</option>");
    });
</script>
