{% load i18n %}
<div id="crit_user_dd" style="display:inline-block;width:100%;">
  <div class="searchcriteria">
    <!-- Start Owner -->
    <ul>
      <li>
        <select multiple="multiple" id="crit_userchooser" class="selectfilter" name="crit_userchooser">
          {% for user in users %}
            <option value="{{ user.getUserName }}" {%if user.getUserName in searchcriteria.crit_userchooser%}selected="selected"{%endif%}>{% firstof user.getRealName user.getUserName %} ({{user.getUserName}})</option>
          {% endfor %}
        </select>
        <!-- End Owner -->
        <img src="/sitemedia/img/icon-minus-circle-frame.png" id="removeusercritrow" style="float:right;margin-top:12px;" />
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
	jQuery.exists = function(selector) {return ($(selector).length > 0);}
	$(document).ready(function() {    
	    SelectFilter.init('crit_userchooser', "{% trans "Media Owner" %}", 0, "{{ STATIC_URL }}");
		    
	});
	$('dd .selector').css('display','inline-block')
    $('#removeusercritrow').click(function() {
        $("#crit_user_dd").remove();
        $("#crit_mainchooser").append("<option value='user'>{% trans 'Owner' %}</option>");
    });
</script>
