{% load i18n formatting vidispinetags general %}{% comment %} Used for Chrome. Should try WebM, then h.264, then fallback to Flash. {% endcomment %}
{% if previews|getURIByMimeType:"application/ogg" or previews|getURIByMimeType:"video/webm" or previews|getURIByMimeType:"video/x-matroska,webm-vp8-vorbis" %}
<div id="player" class="player">
    <div class="loading">{% trans "Loading..." %}</div>
    <div class="videoblock">
    <video class="video" webkit-playsinline>
        {% if previews|getURIByMimeType:"video/mp4" or previews|getURIByMimeType:"video/webm" %}
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                    itemPlayer = PleroVideoPlayer("#player",
                      {   
                          dimensionClass: 
                      {% if playerDimensionClass %}
                        '{{ playerDimensionClass }}',
                      {% else %}
                        'largePlayer',
                      {% endif %}
                          grabStills: true,
                          showFullScreen: false,
                          frameRateNumerator: parseInt("{{ originalshape.getVideoComponents.0.json_object.averageFrameRate.numerator }}", 10),
                          frameRateDenominator: parseInt("{{ originalshape.getVideoComponents.0.json_object.averageFrameRate.denominator }}", 10),
                          timeline: [{
{% if previews|getURIByMimeType:"application/ogg" %}
                            url: "{{ previews|getURIByMimeType:"application/ogg" }}",
{% else %}
  {% if previews|getURIByMimeType:"video/webm" %}
                            url: "{{ previews|getURIByMimeType:"video/webm" }}",
  {% else %}
    {% if previews|getURIByMimeType:"video/x-matroska,webm-vp8-vorbis" %}
                            url: "{{ previews|getURIByMimeType:"video/x-matroska,webm-vp8-vorbis" }}",
    {% endif %}
  {% endif %}
{% endif %}
                            {% if item.getRotation %}
                              rotation: {{ item.getRotation }},
                              scale: {{ item.getRotationScale }},
                            {% endif %}
                            {% if annotation %}
                                startTC: "{{ annotation.getRelativeStartTimecode.toSMPTE }}",
                                mediaStartTC: "{{ annotation.getStartTimecode.toSMPTE }}",
                                durationTC: "{{ annotation.getDurationTimecode.toSMPTE }}",
                            {% else %}
                                startTC: "{{ item.getStartTimecode.toSMPTE }}",
                                mediaStartTC: "{{ item.getStartTimecode.toSMPTE }}",
                            {% endif %}
                            {% if subtitles %}
                            textTracks: [
                                {
                                    name: "{% trans "Disabled" %}",
                                },

                            {% for language in subtitles %}
                                {
                                  name: "{{language.name}}",
                                  language: "{{language.code}}",
                                  url: "{% url item_subtitles item.getId %}?language={{language.code}}",
                                  kind: "subtitles",
                                },
                            {% endfor %}
                            ],
                            {% endif %}

                            {% if previews|getURIByMimeType:"video/webm" %}
                              {% if previews|getObjectsByMimeType:"video/webm"|length > 1 %}
                              videoTracks: [
                                  {% for preview in previews|getObjectsByMimeType:"video/webm" %}
                                  {
                                      name: "{{preview.displayname}}",
                                      url: "{{preview.uri}}"
                                  },

                                  {% endfor %}
                              ]
                              {% endif %}
                            {% endif %}


                          }],
                          onerror: function(msg) {$.growl("{% trans "There was an error starting the player:" %}" + " " + msg ,'error');}
                      });
                    cntmo.app.players.mainPlayer = itemPlayer;
                });
            </script>
        {% else %}
            {% trans "No viewable format" %}
        {% endif %}

	  {% trans "HTML5 Video is not supported by your browser. " %}
    </video>
    </div>
</div><!-- #player -->
{% else %}
    {% themeinclude 'media/previews/previewflash.html' %}
{% endif %}

