{% load i18n vidispinetags %}
<script type="text/javascript" src="{{ STATIC_URL }}flash/flowplayer/flowplayer-3.2.6.min.js"></script>
<div id="player" class="player" style="display:block;width:480px;height:270px;"></div><div id="noflashnotice"><a href="http://www.adobe.com/go/getflashplayer" target="_blank" border="0" id="getflashlink" ><img src="http://www.adobe.com/macromedia/style_guide/images/160x41_Get_Flash_Player.jpg" /><br />{% trans "Media can't be loaded, please download flash." %}</a></div>
<script>
$(document).ready(function() {
	flowplayer("player", {
                src : "{{ STATIC_URL }}flash/flowplayer/flowplayer-3.2.7.swf",
                wmode : "opaque"
              }, {
		clip: {
			url: "{{ previews|getURIByMimeType:"video/mp4" }}",
			autoPlay: false,
			autoBuffering: true,
			scaling: 'orig'
		},
		plugins: {
			controls:{
				url: "{{ STATIC_URL }}flash/flowplayer/flowplayer.controls-3.2.5.swf",
				buttonColor: 'rgba(60, 60, 60, 0.9)',
				buttonOverColor: '#4b4b4b',
				backgroundColor: '#D7D7D7',
				backgroundGradient: 'medium',
				sliderColor: '#444851',
				sliderBorder: '1px solid #808080',
				volumeSliderColor: '#FFFFFF',
				volumeBorder: '1px solid #808080',
				timeColor: '#000000',
				progressColor: '#4183c4',
				bufferColor: '#6AA847',
				durationColor: '#535353'
			}
		},
		onLoad: function() {
			$('#noflashnotice').remove();
		}
	});
});

</script>
