{% load vidispinetags %}
<div class="player" id="player">
    {% if previews|getObjectByMimeType:"image/jpeg" %}
        {% with previews|getObjectByMimeType:"image/jpeg" as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewsmall" style="max-width:320px;max-height:320px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% elif previews|getObjectByMimeType:"image/png" %}
        {% with previews|getObjectByMimeType:"image/png" as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewsmall" style="max-width:320px;max-height:320px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% else %}
        {% with previews|first as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewsmall" style="max-width:320px;max-height:320px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% endif %}
</div>
<div class="largepreview" style="display:none;">
    {% if previews|getObjectByMimeType:"image/jpeg" %}
        {% with previews|getObjectByMimeType:"image/jpeg" as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewlarge" style="max-width:800px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% elif previews|getObjectByMimeType:"image/png" %}
        {% with previews|getObjectByMimeType:"image/png" as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewlarge" style="max-width:800px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% else %}
        {% with previews|first as preview %}
            <img src="{{ preview.uri }}" id="imagepreviewlarge" style="max-width:800px;" class="imagepreview" shapeHeight="{{ preview.shape.getVideoComponents.0.getResolutionHeight }}" shapeWidth="{{ preview.shape.getVideoComponents.0.getResolutionWidth }}">
        {% endwith %}
    {% endif %}
</div>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    /*
    $('.imagepreview').click(function(ev){
        var shapeWidth = $(this).attr('shapeWidth'), shapeHeight = $(this).attr('shapeHeight'), newWidth = 0;
        if (shapeWidth > 320 || shapeHeight > 320 ) {
            if ($(this).attr('id') == 'imagepreviewsmall'){
                $('#player').hide();
                $('.itemmenu').hide();
                $('.largepreview').show();
            } else {
                $('.largepreview').hide();
                $('.itemmenu').show();
                $('#player').show();
            }
        }
    });
    */   
});
</script>
{% docstring %}
    This template is for showing previews for images in the media_view.html and anywhere where we support the preview of media..

    It has basic support for switching between a small preview and if the image file is actually larger than we are showing it, it will allow a click to preview it larger just by simply switching between the views.

    If you want to have a different preview, simply update the template above and place the code in the large preview.
{% enddocstring %}
