{% load i18n formatting vidispinetags %}{% comment %} Used for Chrome. Should try WebM, then h.264, then fallback to Flash. {% endcomment %}
<div id="player" class="player">
    <div class="loading">{% trans "Loading..." %}</div>
    <div class="videoblock">
    <video class="video" webkit-playsinline>
        {% if previews|getURIByMimeType:"video/mp4" %}
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                    itemPlayer = PleroVideoPlayer("#player",
                      {   
                          dimensionClass: 
                      {% if playerDimensionClass %}
                        '{{ playerDimensionClass }}',
                      {% else %}
                        'largePlayer',
                      {% endif %}
                          showFullScreen: false,
                        {% permissionrequired _thumbnail_write %}
                            grabStills: true,
                        {% else %}
                            grabStills: false,
                        {% endpermissionrequired %}
                          frameRateNumerator: parseInt("{{ originalshape.getVideoComponents.0.json_object.averageFrameRate.numerator }}", 10),
                          frameRateDenominator: parseInt("{{ originalshape.getVideoComponents.0.json_object.averageFrameRate.denominator }}", 10),
                          timeline: [{
                            url: "{{ previews|getURIByMimeType:"video/mp4" }}",
                            {% if annotation %}
                                startTC: "{{ annotation.getStartTimecode.toSMPTE }}",
                                mediaStartTC: "{{ item.getStartTimecode.toSMPTE }}",
                                durationTC: "{{ annotation.getDurationTimecode.toSMPTE }}",
                            {% else %}
                                startTC: "{{ item.getStartTimecode.toSMPTE }}",
                                mediaStartTC: "{{ item.getStartTimecode.toSMPTE }}",
                            {% endif %}
                            {% if item.getRotation %}
                              rotation: {{ item.getRotation }},
                              scale: {{ item.getRotationScale }},
                            {% endif %}
                            {% if subtitles %}
                            textTracks: [
                                {
                                    name: "{% trans "Disabled" %}",
                                },
                            {% for language in subtitles %}
                                {
                                  name: "{{language.name}}",
                                  language: "{{language.code}}",
                                  url: "{% url item_subtitles item.getId %}?language={{language.code}}",
                                  kind: "subtitles",
                                },
                            {% endfor %}
                            ],
                            {% endif %}


                            {% if previews|getURIByMimeType:"video/mp4" %}
                              {% if previews|getObjectsByMimeType:"video/mp4"|length > 1 %}
                              videoTracks: [
                                  {% for preview in previews|getObjectsByMimeType:"video/mp4" %}
                                  {
                                      name: "{{preview.displayname}}",
                                      url: "{{preview.uri}}"
                                  },
                                  {% endfor %}
                              ]
                              {% endif %}
                            {% endif %}


                          }],
                          {% if not is_closed %}
                          growing: true,
                          {% endif %}
                          onerror: function(msg) {$.growl("{% trans "There was an error starting the player:" %}" + " " + msg ,'error');}
                      });
                    cntmo.app.players.mainPlayer = itemPlayer;
                });
            </script>
        {% else %}
            {% trans "No viewable format" %}
        {% endif %}

	{% trans "HTML5 Video is not supported by your browser. " %}
    </video>
    </div>

</div><!-- #player -->

{% comment %}
{% themeinclude "media/previews/previewgrowing.html" %}
{% endcomment %}

{% docstring %} Used for Safari amongst others. Should try h.264, then h.264 in Flash container.{% enddocstring %}

