{% load comments i18n users %}
<div class="comment commentsCommentFormWrapper">
    <div class="commentsCommentError">
    </div>
    <aside>
        {% get_avatar_image user %}
    </aside>
    <section class="commentbody">
      <form action="{% comment_form_target %}" method="post" id="commentsCommentForm">{% csrf_token %}
        <main>
          {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
          {% for field in form %}
            {% if field.is_hidden %}
              <div>{{ field }}</div>
            {% else %}
              {% if field.errors %}{{ field.errors }}{% endif %}
              <div
                {% if field.errors %} class="error"{% endif %}
                {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                {{ field.label_tag }} {{ field }}
              </div>
        {% endif %}
        {% endfor %}
        </main>
        <footer>
        <input type="submit" name="post" class="submit-post btn btn-primary" value="{% trans "Post" %}" />
{% comment %}
        <input type="submit" name="preview" class="submit-preview btn btn-primary" value="{% trans "Preview" %}" />
{% endcomment %}
        </footer>
    </form>
    </section>
      <p class="submit">
      </p>
</div>
