{% load vidispinetags debugtags %}
{% for element in fieldsetelements  %}
    {% if element.type == "field" %}
        {% if editing %}
            {% if element.is_hidden %}
                {{ element.field_rendered|safe }}
            {% else %}
    	        <ul
                   class="metadatafieldwrapper"
                   data-fieldfieldtype="{{ element.field.field_type }}"
                   data-fieldlabel="{{ element.field.label }}"
                   data-fieldhidden="{{ element.is_hidden }}"
                   data-fieldediting="{{ editing }}"
                   data-fieldrequired="{{ element.field.required }}"
                   data-fieldhelptext="{{ element.field.help_text }}"
                   data-fieldname="{{ element.vs_field|getFieldName }}"
                   data-fieldid="{{ element.vs_field|getFieldName }}"
                    >
                  <li class="fieldtype_{{element.field.field_type}}">
	                    <label for="{{ element.field.label }}_0">{{ element.field.label }}</label>
		                {{ element.field_rendered|safe }}
		                {% if element.field.help_text %}
	                    <div class="fld_help_txt">{{ element.field.help_text }}</div>
	                    {% endif %}
	                </li>
	          </ul>
           {% endif %}
        {% else %}
            {% if element.vs_field|getMetadataFieldHideIfNotSet:element.belonging_to_group and not element.field.initial %}
            {% else %}
                {% if element.is_hidden %}
                    {{ element.field_rendered|safe }}
                {% else %}
	                <ul class="fieldtype_{{element.field.field_type}}">
		                <li class="fieldtype_{{element.field.field_type}}">
		                    <label>{{ element.field.label }}</label> <span class="field_holder">{{ element.field_display_value }}</span>
		                    {% if element.field.help_text and not hidemetadatahelp %}
		                        <div class="fld_help_txt">{{ element.field.help_text }}</div>
		                    {% endif %}
		                </li>
    	            </ul>
                {% endif %}
            {% endif %}
        {% endif %}
	{% else %}
        {% with element.fieldset as fieldsetelements %}
        <div class="fieldsetwrapper {% if element.templateelement.getSchema.isReference %}weakreference{% else %}strongreference{% endif %}"
            {% if element.element.getUUID %} id="fieldsetwrapper-{{ element.element.getUUID }}"
        {% else %} id="fieldsetwrapper-{{ element.element.getName|slugify }}{{ element.fieldsetidnumber }}"
        {% endif %}
         isref="{{ element.templateelement.getSchema.isReference }}" min_amount="{{ element.templateelement.getSchema.getMin }}" max_amount="{{ element.templateelement.getSchema.getMax }}"
           data-fieldfieldtype="group"
           data-fieldlabel="{{ element.element.getName  }}"
           data-fieldnamespace="{{ element.element.getName  }}"
           data-fieldhidden="{{ element.element.is_hidden }}"
           data-fieldediting="false"
           data-fieldrequired="{{ element.field.required }}"
           data-fieldhelptext="{{ element.field.help_text }}"
           data-fieldid="{{ element.fieldsetid }}"
           data-fieldname="{{ element.fieldsetid }}"
           data-fieldmin_amount="{{ element.templateelement.getSchema.getMin }}"
           data-fieldmax_amount="{{ element.templateelement.getSchema.getMax }}"
           data-fieldis_ref="{{ element.templateelement.getSchema.isReference }}"
           data-fielduuid="{{ element.element.getUUID }}"
           data-fieldrefuuid="{{ element.refuuid }}"
           {% if element.fieldsetclass == 'fieldsetPlaceholder' %}
           data-fieldfieldsetplaceholder="true"
           {% else %}
           data-fieldfieldsetplaceholder="false"
           {% endif %}
         >
        <fieldset class="{{ element.fieldsetclass }}" id="{{ element.fieldsetid }}"
         isref="{{ element.templateelement.getSchema.isReference }}" min_amount="{{ element.templateelement.getSchema.getMin }}" max_amount="{{ element.templateelement.getSchema.getMax }}" name="{{ element.element.getName }}" style="position:relative;">
            {{ weakreference|safe }}
            <legend class="{{ element.fieldsetclass }}"><strong>{{ element.element.getName }}</strong></legend>
            {% if element.element.getUUID and element.element.getUUID != element.refuuid %}
                <input type="hidden" name="{{ element.fieldsetid }}||_uuid" value="{{ element.element.getUUID }}">
            {% endif %}
            {% if element.refuuid %}
                <input type="hidden" name="{{ element.fieldsetid }}||_ref_uuid" value="{{ element.refuuid }}">
            {% endif %}
            {% themeinclude "media/fieldset_render.html" %}
        </fieldset>
        </div>
        {% endwith %}
	{% endif %}
{% endfor %}
