{% load i18n %}

Are you sure you want to promote this version into the latest version of this item?

<div id="vsmakelatestdiv">
<form action="{% url vs_item_make_latest_version item_id version %}" method="post" accept-charset="utf-8" id="make_latest_ajax_form">{% csrf_token %}
	<ul>
	    <li>
              <label for="includemetadata">{% trans "Include metadata" %}</label>
              <input name="includemetadata" id="includemetadata" type="checkbox" checked="checked" />

            </li>

            {% pluginblock "item_make_latest_form" core %}
        </ul>
</form>
</div>
<script type="text/javascript"> 
$(function() {
    $('#make_latest_ajax_form').ajaxForm({dataType:'json',
    	beforeSubmit: function(arr, $form, options) {
    		$("#vsmakelatestdiv").empty().end().html('<center><img src="{{STATIC_URL}}img/core/loading-small.gif" /></center>');
    		return true; 
    	}, 
        success: function(data, statusText, xhr, $form) { 
            if (statusText == "success"){
                $.growl(data.message, 'success');
                $(".ui-dialog-content").dialog("close");
            }
        },
        error: function(data, statusText, xhr, $form) {
            $.growl(gettext("Failed creating new version" +  data.detail ? ": " + data.detail : "", 'error'));
    		$("#vsmakelatestdiv").empty().end();
            $(".ui-dialog-content").dialog("close");
        }
    });
});
</script>
{% docstring media_make_latest.html %}
Approval form for promoting item to latest version
    
Context
-------

item_id 
	The id of the item to work on

version
	A specific version to promote.
    
Plugins
-------

pluginblock
    item_make_latest core

{% enddocstring %}
