{% load datetimeformatting i18n %}

<div class="versionContainer">
    
{% for version in versions reversed %}
<div class="versionView{% if currentSelectedVersion == version.version  %} versionViewCurrent{% endif %}" metadataversionId="{{ version.change }}">
    <div class="versionNavigation">
        {% spaceless %}
        <a href="{% if forloop.first %}{% url vs_item version.item  %}{% else %}{% url vs_item_version version.item version.version %}{% endif %}#versions" title="{% trans "View" %}"><span class="iicon butViewVersion"></span></a>
        {% if not forloop.first %}<a href="{% url vs_item_make_latest_version version.item version.version %}#versions" title="{% trans "Promote to latest" %}" class="make_latest_version"><span class="iicon butPromoteToLatest"></span></a>{% endif %}
        {% endspaceless %}
    </div>
    <div class="versionContent">
        <header>
        {% comment %}
            The first item in the reversed list is always the current item, so there is not much point in going directly to that version.
        {% endcomment %}
        <a href="{% if forloop.first %}{% url vs_item version.item  %}{% else %}{% url vs_item_version version.item version.version %}{% endif %}#versions">
           {% if version.version == 0 %}
              {% trans "Original Version" %}
            {% else %}
              {% trans "Version" %} {{ version.version }} 
           {% endif %}</a>
        </header>
        <section>
        {% if version.timestamp %}
            {% trans "Created" %}: {{ version.timestamp|datetimeobject|date:"DATETIME_FORMAT" }}    
        {% endif %}
        {% if version.user %}
            {% if version.timestamp %}
                {% trans "by" %} {{ version.user }}    
            {% else %}
                {% trans "By" %} {{ version.user }}    
            {% endif %}
        {% endif %}
        {% pluginblock "MediaViewVersions" %}
        </section>
   </div>
</div>
{% endfor %}
</div>

{% docstring %}
media_versions.html
============
This shows the versions for an item and is called inline.

Context
-------

versions

Plugins
-------

 * MediaViewVersions
{% enddocstring %}

