{% load datetimeformatting i18n %}
<body>
<style>
    .storage-select{
        width: 200px;
    }
</style>
<script type="text/javascript">
    var all_storages = [];
    {% for id, name in storages %}
        all_storages.push({name: "{{ name }}", id: "{{ id }}"  });
    {% endfor %}

    function delete_storage_from_select(storage_id){
        $('.storage-select option[value="' + storage_id + '"]').remove();
    }
    function add_storage_to_select(storage_id){
        _.each(all_storages, function(storage){
            if (storage.id == storage_id){
                _.each($('.storage-select'), function(select){
                    $(select).append($('<option>', {value: storage.id, text: storage.name}));
                });
            }
        });
    }
    function create_ghost_row(storage_name){
        var tr = $('<tr> <td>'+ storage_name +'</td> <td>{% trans "Operation queued" %}</td> <td></td> <td></td> <td></td> <td></td> </tr>');
        $('.manageshape table').append(tr);
    }
    $(function() {
        $('.storage_action').click(function(){
            $(this).attr('disabled', 'disabled');
            var action_type = $(this).data('action');
            var row = $(this).parents("tr");
            var form = $(row).find('.manage_file_form');
            $(form).removeAttr('action');
            $(form).ajaxSubmit({
                beforeSubmit: function(arr, $form, options){
                    var data_is_valid = true;
                    if (action_type == 'delete') {
                        options.url =  $form.data('delete-url');
                        data_is_valid = confirm(gettext("Are you sure you want to delete files from this storage?"));
                    } else {
                        options.url =  $form.data('move-url');
                        _.each(arr, function(field){
                            if (field.name == 'dst_storage' && field.value ==''){
                                $.growl(gettext('Destination storage is not selected.'), 'error');
                                data_is_valid = false;
                            }
                        });
                        if (action_type == 'copy'){
                            arr.push({
                                name: 'keeporiginal',
                                required: false,
                                type: 'hidden',
                                value: 'true'
                            });
                        }
                    }
                    return data_is_valid;
                },
                success: function(responseText, statusText, xhr, $form) {
                    var src_storage_id = $(row).data('storage');
                    if (action_type == 'delete') {
                        $.growl(gettext('Delete operation queued'), 'success');
                        add_storage_to_select(src_storage_id);
                        $(row).remove();
                    } else {
                        var dst_storage_id = $(row).find('.storage-select option:selected').val();
                        var dst_storage_name = $(row).find('.storage-select option:selected').text();
                        delete_storage_from_select(dst_storage_id);
                        if (action_type == 'move'){
                            $.growl(gettext('Move operation queued'), 'success');
                            add_storage_to_select(src_storage_id);
                            $(row).remove();
                        } else {
                            $.growl(gettext('Copy operation queued'), 'success');
                        }
                        create_ghost_row(dst_storage_name);
                    }
                },
                error: function(responseText, statusText, xhr, $form){
                    $.growl(gettext('Operation failed.'), 'error');
                },
                dataType: 'json'
            });
            return false;
        });
    })
</script>
<div class="manageshape">

    <table>
        <thead>
            <tr>
                <th>{% trans "Source" %}</th>
                <th>{% trans "Filename" %}</th>
                <th>{% trans "Storage" %}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for storage_id, storage_info in groups.items %}
                <tr data-storage="{{ storage_id }}">
                    <td>
                        {% for id, name in storages %}
                            {% if id == storage_id %}
                                {{ name }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if storage_info.count > 1 %}
                            {{ storage_info.filename }} + {{ storage_info.count }}
                        {% else %}
                            {{ storage_info.filename }}
                        {% endif %}
                    </td>
                    <td>
                        <form
                            data-move-url="{% url vs_item_shape_move_entry item_id shape_id storage_id %}"
                            data-delete-url="{% url vs_item_shape_delete_entry item_id shape_id storage_id %}"
                            method="POST"
                            class="manage_file_form">

                            {% csrf_token %}
                            <select name="dst_storage" class="storage-select">
                                <option value="" selected></option>
                                {% for id, name in storages %}
                                    {% if id not in used_storages %}
                                        <option value="{{ id }}"> {{ name }} </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </td>
                    <td>
                        <button class="storage_action" data-action="move">{% trans "Move" %}</button>
                    </td>
                    <td>
                        <button class="storage_action" data-action="copy">{% trans "Copy" %}</button>
                    </td>
                    <td>
                        <button class="storage_action ui-dialog-button-cancel" data-action="delete">{% trans "Delete" %}</button>
                    </td>

                </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
</body>