{% load i18n %}
<div id="vsclonediv">
{% if version %}
<form action="{% url vs_item_version_clone item_id version %}" method="post" accept-charset="utf-8" id="clone_ajax_form">{% csrf_token %}
{% else %}
<form action="{% url vs_item_clone item_id %}" method="post" accept-charset="utf-8" id="clone_ajax_form">{% csrf_token %}
{% endif %}

Are you sure you want to clone this version into a new item?

{% comment %}
	<ul>
	    <li>
              <label for="includemetadata">{% trans "Include metadata" %}</label>
              <input name="includemetadata" id="includemetadata" type="checkbox" checked="checked" />

            </li>

            {% pluginblock "item_clone_form" core %}
        </ul>

{% endcomment %}
</form>
</div>
<script type="text/javascript"> 
$(function() {
    $('#clone_ajax_form').ajaxForm({dataType:'json',
    	beforeSubmit: function(arr, $form, options) {
    		$("#vsclonediv").empty().end().html('<center><img src="{{STATIC_URL}}img/core/loading-small.gif" /></center>');
    		return true; 
    	}, 
        success: function(responseText, statusText, xhr, $form) { 
            if (statusText == "success"){
                $.growl(responseText, 'success');
                $(".ui-dialog-content").dialog("close");
            }
        },
        error: function(data, statusText, xhr, $form) {
            $.growl(data.detail, 'error');
    		$("#vsclonediv").empty().end();
            $(".ui-dialog-content").dialog("close");
        }
    });
});
</script>
{% docstring media_clone.html %}
Approval form for cloning an item into a new one
    
Context
-------

item_id 
	The id of the item to clone

version
	A specific version to clone. If absent, clone the latest version
    
Plugins
-------

pluginblock
    item_clone_form core

{% enddocstring %}
