{% load i18n %}
<div class="thumbnailholderblank {{ item.getItemType }}" style="width:{{width}}px;height:{{height}}px;max-width:{{width}}px;display:block;"> 
    <a href="{{ item_URL }}">
    {% if item.getMediaType == 'audio' %}
	  <img src="{{ STATIC_URL }}img/audio-thumbnail.png" width="{{ width }}" height="{{ height }}" alt="{% trans "No thumbnail" %}" class="mediathumb nothumbnail">
    {% else %}
    	{% if item.isSequence %}
	  		<img src="{{ STATIC_URL }}img/sequence-thumbnail.png" width="{{ width }}" height="{{ height }}" alt="{% trans "No thumbnail" %}" class="mediathumb nothumbnail">
		{% else %}
            {% if item.getItemType == "ppro_project" %}
                <div class="" style="width:{{ width }}px; height:{{ height }}px;"></div>
            {% elif item.getItemType == "fcpx_project" %}
                <div class="" style="width:{{ width }}px; height:{{ height }}px;"></div>
            {% else %}
                <img src="{{ STATIC_URL }}img/no-thumbnail.png" width="{{ width }}" height="{{ height }}" alt="{% trans "No thumbnail" %}" class="mediathumb nothumbnail">
            {% endif %}
      	{% endif %}
    {% endif %}
	</a>
</div>
{% docstring  %}
	This is used by the thumbnailer for producing a dummy thumbnail for search results pods that don't have thumbnails associated to the items.
{% enddocstring %}
