{% load thumbnailer datetimeformatting i18n general vidispinetags switch %}
<div class="mediaitem mediaitemrow"  id="{{ item.getId }}" name="{{ item.getId }}">
{% if item.getMediaType %}
    {% switch item.getMediaType %}
        {% case "video" %}       
            {% themeinclude 'media/media_inc_preview_video.html' %}
        {% case "image" %}
            {% themeinclude 'media/media_inc_preview_image.html' %}
        {% case "audio" %}
            {% themeinclude 'media/media_inc_preview_audio.html' %}
        {% case "document" %}
            {% themeinclude 'media/media_inc_preview_document.html' %}
        {% case "data" %}
            {% themeinclude 'media/media_inc_preview_unknown.html' %}
        {% else %}
            {% themeinclude 'media/media_inc_preview_unknown.html' %}
    {% endswitch %}
{% else %}
    {% themeinclude 'media/media_inc_preview_unknown.html' %}
{% endif %}
    <div class="infoholder">
        <div class="mediabox-added">
            <span class="info">{% trans "Added" %}:
                {% if job.getStarted %}
                    {{ job.getStarted|datetimeobject|date:"DATETIME_FORMAT" }}
                {% endif %}</span>
        </div>
        {% if user.get_profile.metadata_fields %}
            {% for mdf in user.get_profile.metadata_fields %}
                <div class="mediabox-id">
                    <span class="mediabox-infofield field-name">{{ mdf }}:</span>
                    {% if item|getMetadataFieldTypeByName:mdf == "date" or item|getMetadataFieldTypeByName:mdf == "date-sortable" %}
                    <span>{{ item|getMetadataFieldValueByName:mdf|datetimeobject|date:"DATETIME_FORMAT" }}</span>
                    {% else %}
                    <span>{{ item|getMetadataFieldValueByName:mdf }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="mediabox-id">
                <span class="info">{% trans "Type" %}:
                {{ ""|getJobTypeLabel:job.getType}}</span>
            </div>
            <div class="mediabox-status">
                <span class="info">{% trans "Status" %}:
                {{ ""|getJobStatusLabel:job.getStatus }}</span>
            </div>
            <div class="mediabox-owner">
                <span class="info">{% trans "Started by" %}:
                {{ job.getUser }}</span>
            </div>
            <div class="mediabox-job">
                <span class="info"><a href="{% url vs_job job.getId  %}">{% trans "Go to job" %}</a></span>
            </div>
            
        {% endif %}
    </div>
</div>