{% load i18n %}
{% block heading %}

    <div id="header" class="header">
    	<h2>{% trans 'Export job created' %}</h2>
    </div>

{% endblock heading %}
{% block content %}
    <div class="pagecontent">

		{% if importstatus.0 %}
	
			{% trans 'A job has been created for exporting the item' %}
			<br/><br/>
			{% comment %}
			 

			{% ifnotequal importstatus.0.jobId "" %}
			<a href="{% url vs_job importstatus.0.jobId  %}">{% trans 'Go to job' %}</a>
			{% endifnotequal %}
						{% endcomment %}
	    {% else %}
            <div class="errormessage">
	            <p>{% trans "No export job could be created" %}.</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
