{% themeextends "media/base_media_view.html" %}
{% load i18n vidispinetags datetimeformatting formatting %}
{% block title %}{% for li in deletable_objects %}{{ li }} {% endfor %} &gt; {% trans "Delete" %}{% endblock title %}
{% block extra_style %}
<link rel="stylesheet" href="{{STATIC_URL}}css/video.css">
{% endblock %}
{% block itemname %}{% for li in deletable_objects %}<a href="{% url vs_item li %}">{{ li }}</a> {% endfor %} &gt; {% trans "Delete" %}{% endblock itemname %}
{% block heading %}

    <div id="header" class="header">
        <h1>{% trans 'Confirm Delete' %}</h1>
    </div>

{% endblock heading %}
{% block content %}
<div class="pagecontent deletepage">
    <div class="circle">
        <div class="innercircle">!</div>
    </div>
    <div class="rightcolumn">
    <h1>{% trans "Are you sure you want to continue?" %}</h1>
        <form action="" method="post">{% csrf_token %}
        <legend>{% blocktrans with totalobjects|pluralize:"asset,assets" as a %}The following {{ a }} will be DELETED permanently:{% endblocktrans %}</legend>
        <ul>
            {% if titles %}
                {% for title in titles  %}
                    <li><h3>{{ title }}</h3></li>
                {% endfor %}
            {% else %}
                {% for li in deletable_objects %}
                    <li>{{ li }}</li>
                {% endfor %}
            {% endif %}
            
        </ul>
     
        {% for deletable_object in deletable_objects  %}
        <input type="hidden" name="selected_objects" value="{{ deletable_object }}" />
        {% endfor %}
        <input type="hidden" name="action" value="delete_selected" />
        <input type="hidden" name="post" value="yes" />
        <input type="hidden" name="post_redirect" value="{{ request.META.HTTP_REFERER }}" />
        <input type="cancel" value="{% trans "No, take me back" %}" class="button" onclick="javascript:history.go(-1);" />
        <input type="submit" value="{% trans "Delete" %}" class="button" />

    </form>
    </div>
</div>
{% endblock content %}
{% block inlinejs %}
<script type="text/javascript"> 
    $(document).ready(function() {
       $('#mediabin-tab-show, #mediabin').hide();
       $('#topnav, #nav, #header').fadeTo(3000,0.1);
       $('#nav li').hide();
    });
</script>
{% endblock inlinejs %}