{% themeextends "base.html" %}
{% load i18n compress %}
{% block extra_script %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/select2/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/metadata/metadataform.js" charset="utf-8"></script>
{% endcompress %}
{% endblock %}
{% block title %}{% trans 'Create placeholder' %}{% endblock %}
{% block body %}
    <div class="headerwrapper">

    <div id="header" class="header">
        <h1>{% trans 'Create placeholder' %}</h1>
    </div>
    <div class="filter">
    </div>
</div>
<div id="content" class="content">
<div class="pagecontent">
        <form id="metadataformedit" action="{% url vs_item_new %}" method="post" accept-charset="utf-8" class="formmain" >{% csrf_token %}
            <fieldset id="setmetadataform">
                <ul>
                    <li><label for="media_item_title">{% trans "Title" %}</label><input type="text" name="media_item_title" value="" id="media_item_title"></li>
                </ul>
                {% themeinclude "includes/metadataformchooser.html" %}
                <ul>
                    <li class="mono">
                    <input type="submit" name="action" value="{% trans 'Create' %}" class="button" onClick="this.value='{% trans "Please wait" %}...';" before="{% trans 'Create' %}"  >
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>
{% docstring %}
This template is typically used for the placeholder creation.

Context
-------


Plugins
-------

{% enddocstring %}
{% endblock body %}
